<ion-view view-title='Carrito de compras'  >
    <ion-content class="fondo has-header" padding="false"  style="bottom: 55px;">
        <h4 class="tituloP">Productos seleccionados</h4>
        <div class="list listP">
            <div class="item itemHP border-r7" ng-if="carrito.productos.length == 0">
                <div class="">
                    <p class="" style="color:red;padding-left: 10px;">No hay productos en su orden.</p>
                </div>
            </div>
            <div class="item item-thumbnail-left itemDO itemC" ng-repeat="producto in carrito.productos| filter:filtro track by $index"
                 ng-class="{'border-rs':$index == 0,'border-ri':$index + 1 == carrito.productos.length,'border-r7':$index == 0 && $index + 1 == carrito.productos.length}">
                <img src="img/Bohemia-Oscura.png" class="imgDO">
                <p style="font-size:small;margin-right: 25px;">	
                    {{producto.nombre}}
                </p>
                <a style="font-size: large;float: right;margin-right: 8px;margin-top: -20px;" ng-click="dis_cart_fromdet(producto.cantidad, producto, $index)"> 
                    <i class="ion-ico ion-ios-trash colorprymary"></i> 
                </a>
                <h2 class="negrita pPreDO">{{producto.presentacion}}</h2>
                <p class="colorprymary pCosDO">
                    {{producto.precio| currency:"$"}}
                    <span class="verde DesDO fsm" style="padding-right: 5px;" ng-if="producto.cantidad_promo > 0 && producto.promoact">
                        -{{producto.cantidad_promo| currency:"$"}}
                    </span>
                </p>
                <div class="" style="padding-right:5px;color: rgb(18, 48, 84);">
                    <a  ng-click="dis_cart_fromdet(1, producto, $index)" ng-click="v.cant = v.cant > 0 ? v.cant - 1 : 0" style="    padding: 2px 5px;"
                        class="bg-naranja-sc colorWhite border-r-left"> 
                        <i class="ion-ico ion-minus-round"></i>  
                    </a> 
                    <span class="sCantCart">{{producto.cantidad}} </span>
                    <a  class="bg-naranja-sc colorWhite border-r-right" ng-click=" add_cart_fromdet(1, producto)"  style="    padding: 2px 5px;">
                        <i class="ion-ico ion-plus-round"></i> 
                    </a> 
                </div>

                <p class="naranja pPreFDO">
                    <span style="float: left;padding-left: 6px;color: gray;">{{producto.cantidad}} UNIDADES</span>
                    precio final
                </p>	
                <span class="naranja pTotDO" style="float: right;padding-right: 5px;">
                    {{producto.total| currency:"$"}}
                </span>	
            </div>
        </div>
    </ion-content>
    <ion-footer class="bar bar-footer bg-naranja" style="height: 55px;">
        <div class="col" style="width:50%;padding-left: 15px;width: 50%;">
            <label class="colorWhite">{{carrito.productos.length}} Items</label><br>
            <label class="colorWhite">{{carrito.subtotal| currency:"$"}}</label>
        </div>
        <div class="col" style="width:50%;" ng-click="irPagar()">
            <div style="color:white;width: 100%;max-width: 100%;text-align: right;padding: 10px;{{carrito.productos.length==0?'color: darkgray;':''}}" >Continuar <i class="icon ion-chevron-right"></i></div>
        </div>
    </ion-footer>

</ion-view>



