<ion-view view-title='Productos'  style="background: #F6F6F6" >

    <ion-content class=""  padding="false" scroll="false"  style="">
        <div class="bg-secundary">
            <div class="item-input-inset bg-secundary barB">
                <label class="item-input-wrapper bgWhite" style="border-radius:15px;height:100%">
                    <input type="search" placeholder="Buscar" ng-model="filter.$" style="width: 100%;padding-right:37px">
                </label>
                <a class="bar-dark-n SiconB" ng-click="buscarDireccionE()">
                    <i class="icon ion-search placeholder-icon iconoB" ></i>
                </a>
            </div>

            <ion-scroll zooming="false" direction="x" style="padding-left: 5px; padding-right: 5px; width:100%; height: 44px;"  >
                <div class="row" style="padding: 0px;margin: 0px;">
                    <div class="col "  style="    padding-top: 0px;padding-bottom: 0px;" ng-if="false"> 
                        <a class="button button-clear " style="height: 40px;
                           min-height: 40px;color: white; {{filter.categoria?'color: #fff;':'border-bottom: 4px solid #FFF;'}};  margin-top: 2px; margin-bottom: 2px;" ng-click="filter.categoria = undefined" >
                            <i class="ion-ico ion-ios-home" style="font-size: 16px; position: relative;top: -10px;"></i> <br>
                            <span style="font-size: 8px;position: relative;top: -38px;"> Promociones</span>
                        </a>
                    </div>
                    <div class="col " ng-repeat="categoria in datos.categorias| orderBy:order.categoria:order.rev"  style="    padding-top: 0px;padding-bottom: 0px;">
                        <a class="button button-clear" style=" padding: 0px;height: 40px; min-height: 40px;color: white; {{filter.categoria!= categoria.idCategoria?'border-bottom: none;':'border-bottom: 4px solid #FFF;'}};     margin-top: 2px; margin-bottom: 2px; " ng-click="filter.categoria = categoria.idCategoria;
                                filter2.idCategoria = categoria.idCategoria" >
                            <i class="ion-ico {{categoria.ico}}" style="font-size: 16px; position: relative;top: -10px;"></i> <br>
                            <span style="font-size: 8px;position: relative;top: -38px;"> {{categoria.nombre}}</span>
                        </a>

                    </div>
                </div>
            </ion-scroll>
        </div>

        <ion-content  class="has-header has-subheader" style="top: 124px;">

            <div class="listP" style="margin-top:15px; background-color: #fff; border: none; border-right: 1px dotted; border-top: 1px outset; border-bottom-style: solid;
                 border-bottom-color: #d8d8d8;">
                <div class="" ng-repeat="categoria in datos.categorias| filter: filter2"> 

                    <div class="repetido" ng-repeat="producto in categoria.obtener_productos|filter:filter">
                        <div class="repetido"  ng-repeat="precio in producto.obtener_precios" >       

                            <div class="row" style="border: none;border-bottom: 1px; border-bottom-style: solid; border-bottom-color: #d8d8d8; ">

                                <div class="col col-33">

                                    <img  class="item-producto-img" src="img/Bohemia-Oscura.png" style="float: right">
                                    <span  ng-if="categoria.idCategoria == 1" class="ion-ico ion-record punto-verde-tr" > <span class="ion-ico ion-record punto-verde "  >  <span class="punto-verde-texto"> <p>PRECIO</p>${{precio.costo|number:2}}</span>  </span>    </span>  



                                </div>
                                <div class="col-67 " ng-if="categoria.idCategoria != 1">	
                                    <div class="row ">
                                        <div class="col col-50 " style="line-height: 14px;">
                                            <div style="font-size:14px; margin-top:5px; color: #0F2848;     font-weight: 700;">{{producto.nombre}}  </div>
                                            <div style="font-size:14px; margin-top:5px; color: #0F2848 ; font-weight: 700;"  >
                                                {{precio.presentacion}}
                                            </div>
                                            <div style="font-size:12px; margin-top:5px ; color: #173A65;  font-weight: 700;"  >
                                                ${{precio.costo|number:2}}
                                            </div>
                                            <div style="font-size:6px; margin-top:2px ; color: #173A65;  font-weight: 700;"  >
                                                {{v.cant>0?v.cant+" UNIDAD":""}}{{v.cant>1?"ES":""}}<span style="color:#fff">a</span>
                                            </div>



                                            <div style="color: #fff; padding-top: 12px;width: fit-content; "  ng-init="v ={cant:0}">
                                                <a  ng-click="v.cant = v.cant > 0 ? v.cant - 1 : 0"  class="button-plus-cart"> <i class="ion-ico ion-minus-round" style="font-size: smaller;"></i>   </a> 
                                                <span  class="input-center">{{v.cant}}</span> 
                                                <a ng-click="v.cant = v.cant < precio.stock ? v.cant + 1 : v.cant"  class="button-minus-cart"  > <i class="ion-ico ion-plus-round"  style="font-size: smaller;"></i>  </a> 

                                            </div>
                                        </div>
                                        <div class="col  " style="padding-left: 0px; line-height: 14px;padding-right: 0px;">
                                            <button ng-disabled="v.cant == 0" class=" button button-small button-block button-assertive button-add-cart  icon-left icon-carrito"  ng-click="add_cart(v.cant, producto, precio);
                                                            v.cant = 0;" style="    font-size: 8px;" >  COMPRAR</button> 

                                            <div style="text-align: center;font-size:6px; margin-top:2px ; color: #F1853B;  font-weight: 500;"  >
                                                <span class="verde  fsm" style=""  ng-if="producto.descuento.length != 0 && producto.descuento[0].cantidad <= v.cant">
                                                    -{{v.cant!=0? '$':''}}{{  producto.descuento[0].valor | number:2}} 
                                                </span><br>
                                                PRECIO FINAL
                                            </div>
                                            <div style="text-align: center;font-size:20px; margin-top:0px ; color: #F1853B;  font-weight: 700;     "  >

                                                {{v.cant!=0? '$':''}}{{producto.descuento.length == 0|| producto.descuento[0].cantidad > v.cant?  (v.cant * precio.costo > 0?v.cant * precio.costo:"") : (v.cant * precio.costo )- producto.descuento[0].valor | number:2}} 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--PROMOCIONES-->
                                <div class="col-67 " ng-if="categoria.idCategoria == 1">	

                                    <div style="font-size:14px; margin-top:5px; color: #0F2848 ; font-weight: 700;"  >
                                        {{precio.presentacion}}
                                    </div>






                                    <button  class=" button button-small  button-assertive button-add-cart  icon-left icon-carrito"  ng-click="add_cart(1, producto, precio);
                                             " style=" font-size: 8px; width:63%;    float: right; position: sticky;top: 94%;" >  COMPRAR</button> 




                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="list no-repetido"   >

                        <div class="item itemHP border-r7"  style="text-align: center">
                            <div class="">
                                <p class="" style="color:red;padding-left: 10px;">No hay productos en esta categoria</p>
                            </div>
                        </div>
                    </div>
                </div>







        </ion-content>
    </ion-content>


</ion-view>




