<ion-view view-title='Cupones'>
	<ion-content padding="true" class="has-header" style="background: rgba(234, 236, 238, 0.6);">
		<div style="text-align: center;margin-bottom: 20px;">
			<h5 style="margin-top: 0px;font-size: 18px;">
			Al compartir tu código de cupon, le regalas &dollar;50 MXN de crédito de Chela Plus a tus amigos y recibes &dollar;50 MXN cuando realicen su primera compra.
			</h5>
		</div>
		<p style="margin:10px 0px 6px 0px;font-size: large;font-weight: 500;">Comparte tu código de cupon</p>
		<div class="item-input-inset" style="padding: 0px;height: 44px;margin-bottom: 30px;">
			<label class="item-input-wrapper" style="padding:0px">
			  <input type="text" ng-model="usuario.IdCupon" readonly="true" style="width: 100%;padding: 0px;height: 44px;background-color: white;">
			</label>
			<button class="button button-clear icon ion-android-share bg-naranja-sc"  ng-click="CompartirViaSocial()" style="height: 44px;color: white; width: 50px;padding: 0px;"></button>
		</div>
		<div class="row border-Plano" style="margin-bottom: 10px;">
			<div class="col"><hr></div>
			<div class="col border-Plano">
				<label style="font-size: large;font-weight: 500;">Tu balance</label>
			</div>
			<div class="col"><hr></div>
		</div>
		<div class="item-input-inset" style="padding: 0px;height: 44px;margin-bottom: 30px;">
			<div ng-class="{'calibrar':usuario.IdClienteReferencio}" style="width: 88px;padding: 0px;height: 44px;background-color: white;margin-right:5px">
				<span style="top: 10px;position: relative;font-size: x-large;font-weight: 500;">{{usuario.creditoCupon| currency:"$"}}</span>
			</div>
			<label ng-if="!usuario.IdClienteReferencio" class="item-input-wrapper" style="padding:0px">
			  <input type="text" ng-model="cupon.id" placeholder="Ingresa un codigo de cupón" style="width: 100%;padding: 0px;height: 44px;background-color: white;">
			</label>
			<button ng-if="!usuario.IdClienteReferencio" class="button button-clear icon ion-android-done" style="height: 44px;background-color: #fad457;color: white; width: 50px;padding: 0px;" ng-disabled="!cupon.id" ng-click="ingresarCupon()"></button>
		</div>
		
		<div ng-if="cupones.length>0" class="row border-Plano" style="margin-bottom: 10px!important;">
			<div class="col"><hr></div>
			<div class="col border-Plano">
				<label style="font-size: large;font-weight: 500;">Cupones</label>
			</div>
			<div class="col"><hr></div>
		</div>
		
		<div class="row" style="height: 55px;padding:0px; margin-bottom:20px" ng-repeat="tupla in cupones track by $index">
			<div style="background-color: white;border-radius: 8px 0px 0px 8px;width:30px;border: solid 1px gray;">
				<div class="Rotate-90">Cupón</div>
			</div>
			<div class="col item" style="background-color: white;border: solid 1px gray;height:100%;position: relative;top: 1px;">
				<p style="white-space:normal">{{tupla.descripcion}}</p>
			</div>
			<div class="bg-naranja" style="border-radius: 0px 8px 8px 0px;text-align:center;width:70px">
				<span style="font-size:large;color:white;position: relative;top: 8px;font-weight: 800;">{{tupla.valor| currency:"$"}}</span>
				<span style="font-size: small;color: white;font-weight: 700;position: relative;top: 5px;">Dcto.</span>
			</div>
		</div>
		<p ng-if="error" style="color:red">{{error}}</p>
            <ion-spinner icon="android" ng-if="mostrarL" style="margin-left: 44%;"></ion-spinner>
	</ion-content>
	
</ion-view>
