<ion-view view-title="Direcciones favoritas">
	<div class="bar bar-subheader item-input-inset bg-secundary barB">
		<label class="item-input-wrapper bgWhite" style="border-radius:15px;height:100%">
			<input type="search" placeholder="Para buscar escriba el alias de una direccion" ng-model="filtro"  style="width: 100%;padding-right:37px">
		</label>
		<a class="bar-dark-n SiconB" ng-click="irMApa()">
			<i class="icon ion-plus placeholder-icon iconoB" ></i>
		</a>
	</div>
    <ion-content class="topP" style="margin:0px;background: rgba(234, 236, 238, 0.6);" on-swipe-down="cargarDireccionesFavoritas(true)" on-swipe-up="pagSigDF()">
		<div class="list listP">
			<div class="item"  ng-if="direcciones_favoritas.length == 0">
				<div class="">
					<p class="" style="color:red;padding-left: 10px;">No ha guardado ninguna direccion como favorita</p>
				</div>
			</div>
			<div class="item" ng-if="direcciones_favoritas.length>0&&(direcciones_favoritas| filter:filtro) == 0">
                <div class="">
                    <p class="" style="color:red;">No se encontraron resultados para su busqueda</p>
                </div>
            </div>
			
			<div class="list" ng-repeat="direccion in direcciones_favoritas| filter:filtro track by $index" style="    margin-bottom: 40px;{{$index==0?'margin-top: 30px;':''}}">
				<div class="item item-icon-right border-rs bg-naranja" style="padding: 10px 54px 5px 10px;border-top: 1px solid gray;border-bottom: 1px solid gray;color: white;" >
					<h2 ng-if="direccion.alias" style="font-weight: 700;color: white;">{{direccion.alias}}</h2>
					<p style="color:white">{{direccion.texto}}</p>
					<i class="icon ion-android-delete" ng-click="confirmarEliminar(direccion)"></i>
				</div>

				<div class="item item-body bgWhite border-ri" style="padding: 8px;" ng-init="pintarMapa(direccion)">
					<div id="mapaDF{{direccion.id}}" style="width:100%;background-color: #ddd;height:200px"></div>
				</div>

			</div>
			<p ng-if="error" style="text-align: center;color: red;">{{error}}</p>
			<ion-spinner icon="android" ng-if="mostrarDF" style="margin-left: 44%;"></ion-spinner>
		</div>
    </ion-content>
</ion-view>


