<ion-view view-title="Galeria de fotos">
    <div class="bar bar-subheader bar-assertive-900 "  style="padding-top:0px; background-color: #ff6100;">
        <label class="title">Evento: {{evento.name}}<label>
                </div>
                <ion-content class="has-subheader"  padding="false" scroll="false"  style="background-image: url('img/materialdark.jpg');">
                    <ion-content  class="" scroll="false">
                        <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%;" on-swipe-up="pagSig()">
                            <div class="list card repetido" ng-repeat="foto in fotos" >

                                <div class="item item-body" style="background-color:black">
                                    <img class="full-image" ng-src="{{foto.imagen}}"  style="max-height: 360px" >
                                    <p>
                                        <a ng-if="evento.idpromotor == usuario.id" ng-click="principal(foto)" class="subdued" ng-class="{'energized':foto.principal==1}">Principal </a>
                                        <a ng-if="evento.idpromotor == usuario.id" ng-click="eliminar(foto)" class="subdued" style="float:right">Eliminar</a>
                                        
                                    </p>
                                </div>
                            </div>
							<div class="list no-repetido"  >
                                                            <a href="CrearEvento.html"></a>

                                <div class="ms-noh">
                                  
                                    <p>
                                        No posee imagenes registradas en este evento
                                       
                                    </p>
                                </div>
                            </div>
                        </ion-scroll>
                        <button ng-if="evento.idpromotor == usuario.id" class="button button-energized button-fab button-fab-bottom-right" ng-click="showAlert()">
                            <i class="icon ion-plus-round"></i>
                        </button>
                    </ion-content>
                </ion-content>


                </ion-view>


