<ion-view view-title="Pedidos realizados">
    <ion-content class="fondo"  padding="false" scroll="false" >
		<h4 class="tituloP">Historial de pedidos</h4>
		<div class="list listP">
			<div class="item itemHP border-r7" ng-if="pedidos.length == 0">
				<div class="">
					<p class="" style="color:red;padding-left: 10px;">No se ha realizado ningun pedido</p>
				</div>
			</div>
		</div>
		<ion-content  class="has-header" scroll="false" on-swipe-down="cargarPedidos(true)" on-swipe-up="pagSigP()">
		 <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%;" ng-if="pedidos.length != 0" on-swipe-up="pagSig()">
            <div class="list listP">
			  <a class="item item-icon-right itemHP" ng-repeat="emergencia in pedidos| filter:filtro track by $index" 
			  ng-click="VerDetallesOrden(emergencia.idFactura)" ng-class="{'border-rs':$index==0,'border-ri':$index+1==pedidos.length,'border-r7':$index==0&&$index+1==pedidos.length}" >
				<i class="icon" style="font-size: xx-large;color:gray"
				ng-class="{'ion-load-a':emergencia.estado==3||emergencia.estado==4,'ion-close':emergencia.estado==-1,'ion-checkmark':emergencia.estado==5}" >
				</i>
				<div class="row border-Plano">
					<div class="col border-Plano">
						<label class="labelPG">Fecha</label><br>
						<label class="contLabelPG">{{emergencia.created_at.substring(8,10)}}-{{emergencia.created_at.substring(5,7)}}-{{emergencia.created_at.substring(0,4)}}</label>
					</div>
					<div>
						<label class="labelP naranja">Total</label><br>
						<label class="contLabelPG naranja negrita">
							{{emergencia.total| currency:"$"}}
						</label>
					</div>
				</div>
				<i class="ion-android-notifications alarma" ng-if="emergencia.notificacion!=0 "></i>
			  </a>
			</div>
			<p ng-if="error" style="color:red">{{error}}</p>
            <ion-spinner icon="android" ng-if="mostrarP" style="margin-left: 44%;"></ion-spinner>
        </ion-scroll>
		</ion-content>
    </ion-content>
	
	
</ion-view>




