<ion-view view-title="Login" style="    background-color: #FF5722;background-image: url('img/material1.jpg'); background-size: cover;">
    <ion-content class=""  padding="true" scroll="true">
        <div style=" margin-top: 25%;padding: 5px;border-radius: 10%;">
            <div style="text-align:center; padding: 95px">

            </div>
            <div class="" >
                <form name="form_login" class="">  
                    <div class="list" style="    position: relative;top: -10px; color: white">

                        <div class="row">
                            <div class="col col-100"> 
							<label class="item item-input" >
								<input type="text" placeholder="Email" style= "background: #0a699985;color: white;padding: 5px; border-radius: 10px;" ng-model="lguser.email" required>
							</label> 
                            </div>
                        </div>
						
						  <div class="row">
                            <div class="col col-100">
							<label class="item item-input" >
								<input type="password" placeholder="Clave" style= "background: #0a699985;color: white;padding: 5px; border-radius: 10px;" ng-model="lguser.pass" required>
							</label> 
                            </div>
                        </div>
                        
                         <div class="row">
                            <div class="col col-100">
                                <a ng-click="login(lguser)" style="    border-radius: 10px;     width: 100%;" ng-disabled="!form_login.$valid">
                                    <div class="row"  >
                                        <div class="col col-20" style='background-color: {{form_login.$valid?"#075A86" :"#24485a"}} ;  border-bottom-left-radius: 15px; border-top-left-radius: 15px;padding: 10px; text-align: center; '>
                                            <i class='ion-ico ion-person' style="    font-size: x-large;"></i>
                                        </div>
                                        <div class="col col-80" style='background-color: {{form_login.$valid?"#0A6999" :"#5f8fa7d6"}} ; border-bottom-right-radius: 15px; border-top-right-radius: 15px ; padding: 10px; text-align: center;'>
                                            Iniciar sesi&oacute;n
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>

                       






                    </div>


                </form>


            </div>
        </div>

    </ion-content>
</ion-view>


