<ion-view view-title="Pago">
    <ion-content class="has-footer has-header" style="color: #fff;" scroll="false" id="contenido">
		<div  id="contenedor" class="row no-padding" style="height: 100%; width: 100%; margin: 0px;">   
           <div id="pagar" class="col pagar" style="width: 70%; height: 100%; padding: 2px; color:black;"> 
                <div id="cabecera" class="row no-padding" style="width: 100%; padding: 0px;"> 
                 <div class="row" style="height: 100%; width: 100%;padding: 0px;">
                        <div class="col" style="padding: 0px;">
                            <div class="row filap">
                                <div class="columna1 col-center">
                                <div class="row"  style="padding: 0px; margin: 0px;">
                                    <div class="ancho col-center" style="width:100%">Sub-Total:&nbsp; {{subtotal.toFixed(2)}} S/</div>
                                </div>
                                </div>
                                <div class="columna2 col-center">
                                    <div class="row"  style="padding: 0px; margin: 0px;">
                                        <div class="ancho col-center" style="width:100%">Agregados:&nbsp;{{agregados.toFixed(2)}} S/</div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row filap" style="margin-top: 1px;">
                                <div class="columna1 col-center">
                                <div class="row"  style="padding: 0px; margin: 0px;">
                                    <div class="ancho col-center" style="width:100%">Total:&nbsp;{{total.toFixed(2)}} S/</div>
                                </div>
                                </div>
                                <div id="mntdesc" class="columna2 col-center">
                                    <div class="row"  style="padding: 0px; margin: 0px;">
                                        <div class="ancho col-center" style="width:100%">Descuento: &nbsp;{{descuento1.toFixed(2)}} S/</div>
                                    </div>
                                </div>
                        
                            </div>
                            <div class="row filap" style="margin-top: 1px;"id="pagado">
                                <div class="columna1 col-center">
                                    <div class="row"  style="padding: 0px; margin: 0px;">
                                        <div class="ancho col-center" style="width:100%">Pagado: &nbsp{{pagado.toFixed(2)}} S/</div>
                                    </div>
                                </div>
                                <div class="columna2 col-center"  ng-style="StylePago">
                                    <div class="row"  style="padding: 0px; margin: 0px;">
                                        <div id="txtfalta" class="ancho col-center" style="width:100%">{{txt_falta}}: &nbsp;{{falta.toFixed(2)}} S/</div>
                                    </div>
                                </div>
                                    
                                
                                    
                                
                            </div>
                        </div>
                        </div>
                    </div>
                 <!--Tabs de descuento y pago!-->
              <div  id="TF">
               <div  id="tag">
                    <div class="tabs tabs-icon-only"style="position: relative;height: 100%; width: 30%; border: none">
                        <a class="tab-item" id="tabBtnPago" style="background-color: #D6D4D4; " ng-click="p=true">
                             <i class=" icon" style="line-height: 37px; font-size: 25px;font-weight: 700;" >S/.</i>
                         </a>
                         <a class="tab-item" id="tabBtnDescuento" style="background-color: #F5F3F3; " ng-click="p=false">
                           <img src="{{path}}imagenes/descuentos/descuento2.png" class="imgDP" id="imgD" alt="Descuento">
                         </a>
                     </div>
                </div>
                <div id="Contenedor_descuentos" class="row contenedor no-padding" style="margin-top: 0px;     background-color: rgb(224, 223, 223); " ng-show="!p"> 
                    <ion-scroll zooming="true" id="scroll" direction="x" overflow-scroll="false">
                               <div id="">
                                    <div id="">
                                    <div class="row" id="fila">
										<div ng-repeat="descuento in descuentos" class="row" id="contenedorPro" style="margin-top: 4px;"> 
											<button id="BtnDescuento{{descuento.idDescuento}}" class="producto" ng-disabled="bandera" ng-click='colocar_descuento(descuento)' >
												<div class="" style="height: 94%; width: 94%; margin-left: 3%; position: relative;">
													<img src="{{path}}imagenes/descuentos/images.png" id="scroll">
													<!--div que contiene el nombre-->
												<div class="col-center spam">
												   <strong>-{{descuento.valor}} {{descuento.tipo == "porcentaje"? '%' :'S/'}}</strong>
												</div>
												</div>
											</button>
										</div>
										<div class="row row-center no-padding"  ng-if="!descuentos">
											<div class="col col-center">
												<h1 class="text-center text-uppercase" style="color: #fff"> <i class="icon ion-pricetags" style="font-size:30px; color: #a4b0c6;"></i></h1>
												<h1 class="text-center" style="font-size:20px; color: #a4b0c6;">No hay descuentos disponibles </h1>
											</div>
										</div>
                                      
                                     </div>
                                </div>
                                </div>
                    </ion-scroll>
                    
                </div>
                 <div id="formas_pago" class="row contenedor no-padding" style="margin-top: 0px;     background-color: rgb(224, 223, 223); " ng-show="p"> 
                   <ion-scroll zooming="true" id="scroll" direction="x"  overflow-scroll="false">
                                    <div class="row no-padding" id="fila">
                                            <div ng-repeat="metodo_pago in metodos_pago" class="row" id="contenedorPro" style="margin-top: 4px;">
                                  
                                               
                                                
                                        
                                                    <button id="producto{{metodo_pago.idPago}}" ng-disabled="bandera" class="producto"  ng-click='colocar_pago(metodo_pago)'>
                                                        <div class="imgproducto">
                                                            <img src="{{path + metodo_pago.imagen}}" id="scroll">
                                                        </div>
                                                        <!--div que contiene el nombre-->
                                                        <div style="height: 20px;">
                                                            <center>{{ metodo_pago.tipoPago }}</center>
                                                        </div>
                                                    </button>
                                                     
                                      
                                            </div>
                                   
										<div class="row row-center no-padding"  ng-if="!metodos_pago">
											<div class="col col-center">
												<h1 class="text-center text-uppercase" style="color: #fff"> <i class="icon ion-social-usd-outline" style="font-size:30px; color: #a4b0c6;"></i></h1>
												<h1 class="text-center" style="font-size:20px; color: #a4b0c6;">No hay metodos de pago disponibles </h1>
											</div>
										</div>
                                     </div>
                                 </ion-scroll>     
                </div>
                </div>
				
                 <div id="TM" class=""> 
                    <div  id="teclado" class="" style="margin-top: 0px;  background-color: rgb(224, 223, 223);">
                            <div class="" style="height:100%;width:100%">
                             <div class="pantalla">
                                <input maxlength="5" ng-model="teclado" readonly="true" class="row pantallaI" type="text" id="display" style="background-color: white;border-top: 1px solid;border-top-color: black">
                            </div>
                            <div  class="filaTec" >
                                <button class="button boton button-tecla button-tecla-responsive boton" id="1" ng-click="pres(1)">1</button>
                                <button class="button boton button-tecla button-tecla-responsive boton" id="2" ng-click="pres(2)" >2</button>
                                <button class="button boton button-tecla button-tecla-responsive boton" id="3" ng-click="pres(3)" >3</button>
                                <button class="button boton button-teclaEsp button-tecla-responsive icon ion-backspace-outline boton" id="back"  ng-click="borrar()"  ></button>
                            </div>
                            <div  class="filaTec" >
                                <button class="button button-tecla button-tecla-responsive boton" id="4" ng-click="pres(4)" >4</button>
                                <button class="button button-tecla button-tecla-responsive boton" id="5" ng-click="pres(5)" >5</button>
                                <button class="button button-tecla button-tecla-responsive boton" id="6" ng-click="pres(6)">6</button>
                                <button id="btnpagar"  ng-disabled="!bandera" ng-click="pagar()" class="button button-teclaEsp button-tecla-responsive boton icon ion-cash" ></button>
                            </div>
                             <div  class="filaTec">
                                <button id="7" ng-click="pres(7)" class="button boton button-tecla button-tecla-responsive" >7</button>
                                <button id="8" ng-click="pres(8)" class="button boton button-tecla button-tecla-responsive" >8</button>
                                <button id="9" ng-click="pres(9)" class="button boton button-tecla button-tecla-responsive" >9</button>
                                 <a ng-click="volver()"><button id="volver" title="Volver a Mesas"  class="button boton button-teclaEsp button-tecla-responsive icon "><img src="img/table.gif" width="25" height="25"></button></a>
                            </div>
                            <div class="filaTec">
                                <button id="." ng-click="pres('.')" class="button boton button-teclaEsp button-tecla-responsive" >.</button>
                                <button id="0" ng-click="pres(0)" class="button boton button-tecla button-tecla-responsive " >0</button>
                                <button id="." ng-click="pres('.')" class="button boton button-teclaEsp button-tecla-responsive" >.</button>
                                <a class="button button-teclaEsp button-tecla-responsive boton" title="Cancelar Orden" ng-click="openPopupC('Orden')">
                                      <i class="ion-trash-a" style="font-size: 32px;position: relative;left: -4px;top: 10px;"></i>
                                 </a>
                            </div>
                         </div >   
                    </div>
                     <div id="metodos" class="item no-padding" style="background-color: #F5F3F3; border: none; border-left: solid 1px #ededed">
                       <ion-scroll zooming="true" id="scroll" direction="xy"  overflow-scroll="false">
                        <div id="paymet">
                            <div class="item item-divider" style="margin: 0px;background-color: #DC4E1E;color: white;padding-left: 5px;">
                                Pagos
							</div>
							<ion-item  ng-repeat="metodo_pago in metodos_pago" ng-if="metodo_pago.pago > 0" id='pago{{metodo_pago.idMetodoPago}}'  style=' padding: 0;width: 100%; height:47px;min-width: 290px; min-height: 44px; background-color: #F5F3F3; padding-left: 5px;padding-top: 1px;padding-bottom: 2px; padding-right: 10px;'>
                                 <a class="row  no-padding"   ng-click="changepaid(metodo_pago)" style=" width: 100%; color: grey;  font-weight: bold; text-decoration: none; ">
									 <div class="col-10" style=" height: 100%;">
										 <img src="{{path + metodo_pago.imagen}}" class="imagenP" alt="Image not found">
															</div>
									 <div class="col col-center itemP  no-padding">
												{{metodo_pago.tipoPago}}
															</div>
									 <div class="col-33 col-center  no-padding" id="detalle_tol" style="text-align: right; font-size:18px;">
									 <span id="monto">{{metodo_pago.pago.toFixed(2)}}</span> S/
									 </div>
									 <div class="col no-padding" style="text-align: right;">
                                            <button class="button-clear ion-close-circled pull-right" style="color: gray;border: solid 1px;    position: relative;top: 15px;margin-right: 10px;" ng-click="rmpago(descuento)"></button>
                                        </div>
								 </a>
							</ion-item>
                        </div>
                        <div id="Des">
                            <div class="item item-divider" style="margin: 0px;background-color: #DC4E1E;color: white;padding-left: 5px;">
                                Descuentos
								
							</div>
							<div class='' ng-repeat="descuento in descuentos" ng-if="descuento.valorD > 0" id='descuento{{descuento.idDescuento}}' style='min-height: 36px; padding: 0;width: 100%; height:47px; margin-top:2px;' >
								<a id='descuento{{descuento.idDescuento}}'  class='item no-padding'  style=' background-color: #F5F3F3; color: grey;  font-weight: bold; text-decoration: none;'>
                                    <div class="row no-padding" style="">
                                        <div class=" imagenDes">
                                            <img src="{{path}}imagenes/descuentos/images.png" style="height: 100%; width: 100%;" alt="Image not found">
                                            <div class="spam1" met_pay="{{descuento.tipo}}" class="col-center">
                                                 <strong>-{{descuento.valor}} {{descuento.tipo == "porcentaje"? "%" : "S/"}}
                                                           </strong>
                                                        </div>
                                        </div>
                                        <div id="" class="col-center  no-padding" style="width: 100px;">{{descuento.valor}}
                                                 {{descuento.tipo == "porcentaje"? "%" : "S/"}}
                                        </div>
                                        <div class="col-center  no-padding" id="valor">-
                                               <span id='monto'>
													 {{descuento.valorD.toFixed(2)}}
                                               </span>S/
										</div>
                                        <div class="col no-padding" style="text-align: right;">
                                            <button class="button-clear ion-close-circled pull-right" style="color: gray;border: solid 1px;    position: relative;top: 15px;margin-right: 10px;" ng-click="rmdes(descuento)"></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        </ion-scroll>
                    </div>
                    
                </div>
           </div>
		   
           <div id="factura" class="factura" style="color:black">
               <ion-scroll zooming="true" id="scroll" direction="xy"  overflow-scroll="false">
			<div id="cont"  style="width:100%; font-family:monospace;">
			<center>
				<span id="nombretM"  align="center">{{nombret}}</span><br></b>
				<span id="nombreM" align="center">{{nombre}}</span><br>
				<div style="width: 250px;"> {{direccion}}<span  id="direccionM" align="center"></span></div>
				NIF:<span id="nifM" align="center">{{nif}}</span> 
				TEL:<span id="telefonoM" align="center">{{telefono}}</span> <br>
				Mesa: 5 <br>
				fecha </p> 
   </center>    
   <p style="text-align: center;"><b>O R D E N / P E D I D O</b></p> 
   <hr>
   </div>
    <table  style="width: 100%;  text-align: center; ">
        <tr ng-repeat="detalle in detalles">                
            <td style="width: 60%;">{{detalle.getproducto.nombre}} {{detalle.presentacion}} x {{detalle.cantidad}}</td>
            <td style="width: 20%;">{{detalle.precio}}</td>
            <th style="">{{(detalle.precio*detalle.cantidad)}}S/</th>   
                 
        </tr>
      
    </table>
    <hr>
  <p style="text-align: center;"> 
      <span >Subtotal:{{subtotal.toFixed(2)}}</span><br>
     <span>Impuesto: {{impuesto.toFixed(2)}}</span><br>
    <span>Descuentos: {{descuento1.toFixed(2)}} S/</span><br>
    <span>Servicios:{{propina.toFixed(2)}} S/</span><br>


<h3 align="center">Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{total.toFixed(2)}}S/</h3> 
 <p align="center">!!Gracias por preferirnos!!</p>
          </ion-scroll>
           </div>
        </div>

    </ion-content>
	<div id="footer" class="bar bar-footer bar-calm" style="background-color: #DC4E1E;">
		<div class="button-bar">
			<a id="BtnT" class="button FBoton button-clear BtnM"  ng-click="BtnT()"><span class="icon ion-ios-keypad"></span></a>
			<a id="BtnFor" class="button FBoton button-clear BtnM" ng-click="BtnFor()" ><span class="icon ion-cash"></span></a>
			<a id="BtnPreviu"  class="button FBoton button-clear BtnM"  ng-click="BtnPreviu()"><span class="icon ion-eye"></span></a>
		</div>
    </div> 
	
	
	<script id="comentario.html" type="text/ng-template">
    <div id="comentario" class="co">
        <ion-popup-view>
            <ion-header-bar class="header-pizza">
            <div class="title title-left T" style="font-size:15px;color: white;">{{destino}}&rarr; Agregar comentario</div>
                <div class="buttons">
                    <button class="button-clear ion-close-circled" ng-click="closepopupComentario()" style="color:#FFE6DE;font-size: 21px;"></button>
                </div>
            </ion-header-bar>
            <ion-content class="has-header" style="background-color: white;padding: 10px;">
                    <textarea name="comentario" rows="4" autofocus="true" ng-model="data.comentario" placeholder="Escriba un comentario u observaci&oacute;n" resize="false" style="height: 100%;" required>
                    </textarea>
                    <span ng-if="data.comentario==''||!data.comentario" style="position: relative;bottom: 14px; color:red">Por favor introduzca un comentario</span>
            </ion-content>
            <ion-footer-bar class="header-pizza">
                    <button  class="button-clear BtnM"  style="font-size: medium !important; width: 50%;"  ng-click="CancelarOrden(data.comentario)" ng-disabled="data.comentario==''||!data.comentario">Guardar</button>
                    <button  class="button-clear BtnM " style="font-size: medium !important; border-left: solid white 1px;width: 50%;" ng-click="closepopupComentario()">Cancelar</button>
            </ion-footer-bar>
        </ion-popup-view>
    </div>
</script>

</ion-view>


