<ion-view view-title="Login"  style="background-color: rgb(0, 44, 122);">
    <ion-content class=""  padding="true" scroll="true">
        <div style="text-align:center; padding-top:25px;">
            <img src="img/logo.png" width="50%" height="auto" style="max-width:200px;">
        </div>
        <div class="" >
            <form name="form_login" class="">  
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" style="color: aliceblue; font-weight: 600;">Usuario</span>
                        <input type="text" placeholder="Usuario (min 6)" style="background-color: white; text-align: center" ng-model="user.user" required ng-minlength="6" ng-maxlength="20">

                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" style="color: aliceblue; font-weight: 600;">Password</span>
                        <input type="password" placeholder="Password (min 6)" style="background-color: white; text-align: center" ng-model="user.password" required ng-minlength="6" ng-maxlength="20">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" style="color: aliceblue; font-weight: 600;">Confirm Password</span>
                        <input type="password" placeholder="Password" style="background-color: white; text-align: center" ng-model="user.password_confirm" required ng-minlength="6" ng-maxlength="20">
                    </label>
                    
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" style="color: aliceblue; font-weight: 600;">Cedula</span>
                        <input type="text" placeholder="Cedula" style="background-color: white; text-align: center" ng-model="user.cedula" required >
                    </label>
                    
                    <label class="item item-input item-stacked-label">
                        <button class="button button-block button-positive" ng-click="registrar()" ng-disabled="(!form_login.$valid || user.password != user.password_confirm) ">
                            Registrarse
                        </button>
                    </label>
                    <label class="item item-input item-stacked-label" ui-sref="app.login">
                        <button class="button  button-block button-clear button-positive" >
                            Regresar
                        </button>

                    </label>

                </div>


            </form>



        </div>


    </ion-content>
</ion-view>


