@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("fonts/untitled-font-2.eot");
  src:url("fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-2.woff") format("woff"),
    url("fonts/untitled-font-2.ttf") format("truetype"),
    url("fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-botanas:before {
  content: "\61";
}
.icon-botella-2:before {
  content: "\62";
}
.icon-botellal:before {
  content: "\63";
}
.icon-otros:before {
  content: "\66";
}
.icon-promociones:before {
  content: "\67";
}
.icon-carrito:before {
  content: "\69";
}
.icon-salir:before {
  content: "\65";
}
.icon-cupon-1:before {
  content: "\6a";
}
.icon-pin-map:before {
  content: "\6b";
}
.icon-pedido:before {
  content: "\6c";
}
.icon-contacto:before {
  content: "\6d";
}
.icon-telefono:before {
  content: "\64";
}
.icon-telefono2l:before {
  content: "\68";
}
.icon-user2l:before {
  content: "\6e";
}
.icon-objeto-inteligente-vectorial:before {
  content: "\6f";
}
.icon-correo:before {
  content: "\70";
}
