/* Insert Your Custom CSS Here */

.searchable-container{margin:20px 0 0 0}
.searchable-container label.btn-default.active{background-color:#F85D2C;color:#FFF}
.searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:1px 2px 2px 0 #ccc;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:90%}
.searchable-container .btn span.glyphicon{
    opacity: 0;
}
.searchable-container .btn.active span.glyphicon {
    opacity: 1;
}

#cont{
    margin-bottom:10px;
}

.glyphicon-pencil{

      font-size: 11px;
   
}

td{
    padding-left:5px !important;
   padding-right:0px !important;

}

li{

     -webkit-transition: background-color 800ms ease-out 100ms;
    -moz-transition: background-color 800ms ease-out 100ms;
    -o-transition: background-color 800ms ease-out 100ms;
    transition: background-color 800ms ease-out 100ms;
   list-style:none;
   
  
}

#agregarPrePaciente {
    color: #666 !important;
    background-color: white !important;
}

#agregarPrePaciente:hover {
    color: #FFF !important;
    background-color: #15346D !important;
}

.list{
    
    margin-bottom:10px;

}
.list-wrapper{
    list-style: none;  
    padding-left: 0;
}

.tdimage{
    padding-left:10px;
}

/*custom table semana*/

/* Use a wide full screen for small screens like tablets. */
@media (min-width: 768px) and (max-width:992px) {
    .container {
		width: initial;
        padding-left: 2em;
        padding-right: 2em;        
	}
}

/* --- Plans ---------------------------- */

.my_planHeader {
    text-align: center;
    color: white;
    padding-top:0.2em;
    padding-bottom:0.2em;
}
.my_planTitle {
    font-size:2em;
    font-weight: bold;
}
.my_planPrice {
    font-size:1.4em;
    font-weight: bold;    
}
.my_planDuration {
    
}

@media (max-width: 768px) {
    .my_planTitle {
        font-size:small;
    }    
}

/* --- Features ------------------------- */

.my_feature {
    line-height:2.8em;   
}

@media (max-width: 768px) {
    .my_feature {
        text-align: center
    }
 }

.my_featureRow {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px solid rgb(163, 163, 163);
}    

/* --- Plan 1 --------------------------- */
.my_plan1 {
    background: rgb(224,234,242);
}

.my_planHeader.my_plan1 a {
    background: rgb(72, 109, 139);
    color:white;
}

.my_planHeader.my_plan1 {
    background: rgb(105, 153, 193);
    border-bottom: thick solid rgb(105, 153, 193);
}

/* --- Plan 2 --------------------------- */
.my_plan2 {
    background: rgb(230,235,218);
}

.my_planHeader.my_plan2 a {
    background: rgb(108, 131, 62);
    color:white;
}

.my_planHeader.my_plan2 {
    background: rgb(134, 162, 77);
    border-bottom: thick solid rgb(108, 131, 62);
}

/* --- Plan 3 --------------------------- */
.my_plan3 {
    background: rgb(254,235,212);
}

.my_planHeader.my_plan3 a {
    background: rgb(199, 127, 40);
    color:white;
}

.my_planHeader.my_plan3 {
    background: rgb(253, 161, 49);
    border-bottom: thick solid rgb(253, 161, 49);
}




.my_planFeature {
    text-align: center;
    font-size: 2em;
}

.my_planFeature i.my_check {
    color: rgb(35, 112, 158);
}

#h4{
    margin: 0;
  color: #555555;
  font-weight: bold;
  padding-right: 180px;
}

#menudown{
    padding: 4px 15px;
}


.x-navigation li.active > a {
    background: #0d3a88;}