.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.input-group-addon:first-child{
    background-color: #2f4669;
    border: aliceblue;
}

.btn .fa, .btn .glyphicon {
    font-size: 20px;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 3s;
}

.ng-hide:not(.ng-hide-animate) {
    /* These are just alternative ways of hiding an element */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.x-navigation > li.xn-logo > a:first-child {

    background: #329eca;
}

.x-navigation li.active > a {
    background: #2f4669;
}

.opc-button{
    float: right;
    background: none;
    color: #2f4669;
    display: block;
    border: none;
}

.opc-button:hover{

    color: #329eca;
    background: none;
    border: none;

}

.opc-button:active{

    color: #329eeb;
    background: none;
    border: none;

}

.btn-danger.opc-button{
    color: crimson;
}
.btn-danger.opc-button:hover{
    color:#ff7893;
}

.btn-info.opc-button{
    color:#329eca;
}

.table > thead > tr > th {
    background: #2f4669;
    color: #FFF;
    font-size: 12px;
}

.panel .panel-title {
    color: #0f4188;
}

.table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    background: #f7fdff;
}

.activo{
    background-color: #2f4669;
    color: #fcfcfc;
    font-weight: bold;
    padding: 2px;
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;

}

.inactivo{
    background-color: crimson;
    color: #fcfcfc;
    font-weight: bold;
    padding: 2px;
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;

}

.footer-form{
    margin-top: 25px;
}

.noty_type_danger{
     background-color: crimson;
}


.noty_type_bien{
     background-color: #2f4669;
}

th{
    cursor: pointer;
}


.table-s > tbody > tr > th, .table-s > tfoot > tr > th, .table-s > thead > tr > td, .table-s > tbody > tr > td, .table-s > tfoot > tr > td {
    background: #fff !important;
}

.vd_navbar {
    background-color: #273040 !important;
    color: #fff;
}
