@font-face
{
    font-family: "Monserrat Bold";
    src: url("Montserrat-Bold.otf");

}

@font-face
{
    font-family: "Monserrat Semi-Bold";
    src: url("fuentefancy.eot");
    src: url("Montserrat-SemiBold.otf") ;
}

@font-face
{
    font-family: "Monserrat Medium";
    src: url("Montserrat-Medium.ttf") format("truetype");
}
.button-plus-cart{
    padding: 3px 7px 3px 7px; 
    text-align: center; 
    background-color: #FAC44E;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-width: 1px 1px 1px 1px;
    border-color: #eaeae8;
    border-style: outset;
    border-bottom-style: inset;
}

.button-minus-cart{
    padding: 3px 10px 3px 10px;
    background-color: #FAC44E !important; 
    border-bottom-right-radius:  10px;
    border-top-right-radius: 10px;
    border-width: 1px 1px 1px 1px;
    border-color: #eaeae8;
    border-style: outset;
    border-bottom-style: inset;
        margin-left: -12px;
    position: relative;
}

.input-center{

    padding: 3px 18px 3px 18px; font-weight: 700;  color: #3B3E45;
    border-width: 1px 0px 1px 0px;
    border-color: #eaeae8;
    border-style: outset;
    border-bottom-style: inset;
}

.nopad-nomar{
    margin: 0px;
    padding: 0px;
}

.button-add-cart{
    margin: 0px;
    padding: 5px;
    background-color: #F1853B !important;
    color: #fff !important;
}

.punto-amarillo{
    color: #FAC44E;
    font-size: 60px !important;
}

.menu-icono{
    font-size: x-large !important;left: 25px!important;color: #0f2847;
}

.left-pr1{

    padding-bottom: 25px !important;
    padding-top: 20px !important;
    font-weight: 200 !important;
}


.left-pr{

    padding-bottom: 15px !important;
    padding-top: 10px !important;
    font-weight: 200 !important;
}

.left-pr *, .left-pr1 *{    
    font-weight: 400 !important;
}

.fondo-view{
    background: #F6F6F6;
}


.link-h1{

    color: #173a65;
    text-decoration-line: underline;
    font-size: 16px;
    text-align: center;
    font-weight: 700;

}

.punto-verde-tr{
    position: relative;
    left: 52px !important;

    font-size: 90px !important;
    color: rgba(59, 195, 0, 0.61);
    position: absolute;
    left: 80px !important;
    margin-top: 21px;
}

.punto-verde{
    font-size: 77px;
    position: absolute;
    left: 6px;
    top: 8px;
    color: #3BC300;
}

.punto-verde-texto{
    font-size: 14px;
    position: absolute;
    top: 23px;
    left: 7px;
    color: white;
}

.punto-verde-texto p{
        margin: 0px;
    line-height: 11px;
    font-size: 8px;
    text-align: center;
    color: white;
}