/* Empty. Add your own CSS if you like */
/* Utilities */

.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.no-border {
    border: none;
}
.btn-LlamarS{font-size: 25px;position: absolute;right: 50px;top: 12px;}

.static {
    position: static;
}

.repetido+ .no-repetido{
    display: none;
    text-align: center;
    height:100%
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}
/* CODE */

.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.popover {
    left: initial !important;
    right: 16px !important;
    top: 16px !important;
}
.platform-android .popover{
    margin-top:10px;
}

.social-button{
    text-align: -webkit-center;
    margin-top: 5px;
    color:white !important;
    border: black 1px solid;
}

.social-button:active{
    -webkit-filter: grayscale(30%);

}
.colorGris{
    color: gray!important;
}
.bar-assertive-per{
    background-color: #B71C1C!important;
    color: #fff!important;
}
.colorRef{
    color: #B71C1C!important;
}

.activeSH{
    border-bottom: solid 3px!important;
}
.subheaderM{
    top: 88px!important;
}
.NoMaxW{padding-top: 5px!important;max-width: none!important;font-size: 24px!important;}
.NoMaxWE{padding-top: 5px!important;max-width: none!important;font-size: 28px!important;}
.colorWhite{color:white!important}
.bgWhite{background:white!important}
.noBSho{box-shadow: none!important;}
.repeat+ .no-repeat{
    display: none;
    text-align: center !important;
}
.alarma{position: absolute;top: 40px;right: 20px;color: red;}
.palarma{padding-right: 20px;}
.border{border:solid 1px #ddd!important;}
.colorRojo{color:red!important}
.iconH{position: relative;top: -3px;}


//CHAT MENSAJERIA IMPORT


/* Empty. Add your own CSS if you like */
.message-box{

    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px

}

.message-mio{
    background-color:#ffd3d3;
    margin-left:  40px;
}
.message-mio.sel{
    background-color: #b5f785;
}
.message-tuyo{
    background-color: #ffffff;
    margin-right:   40px;
}

.message-tuyo.sel{
    background-color: rgba(133, 236, 247, 0.53);
}
.chat {
    margin-top: 10%;
    padding-top: 5%;
    border: 0px;
}
.info-msj-text{
    text-align: right;
    font-size: x-small !important;
}
.borderradius{
    border:none 1px #000000;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
}
.bordeInput{
    border: none;
    border-bottom: 1px solid #387ef5 !important;
}
.bgI{
    background-color: initial !important;
    color: #000000 !important;
}
.b{

    border-bottom: 1px solid #018f8b !important;
}

.bar-what{
    border-color: #004442 !important;
    background-color: #018f8b !important;
    color: white !important;
}

.tab-nav.tabs{
    border-color: #004442 !important;
    background-color: #018f8b !important;
}
.title.title-left.header-item {
    color: #fff;
}
.letraNegra{
    color: #000 !important;
}
.fontcolor {
    color:#008e8b !important;
}
.popup-buttons .button {

    background-color: #F1853B !important;
    color:  #fff;
    padding: 0px;
}
.popover-buttons .button {

    background-color: #F1853B !important;
    color:  #fff;
    padding: 0px;
}
.no-link-m{color: #444!important;text-decoration: none!important;}
.no-link-p{color: #666!important;text-decoration: none!important;}
.no-link-t{color: white!important;text-decoration: none!important;}
.logo-h{font-size: 150px;padding-right: 5px;position: relative;top: -50px;}
.btnser{font-size: 25px; position: absolute;top:12px}
.negrita{font-weight: 700!important;}
.border-Plano{margin: 0px!important;padding: 0px;}

.ltr-menu{
    color:white;
}

.input-cl {
    background-color:rgb(255, 247, 224) !important;
}

.input-cl.ng-invalid {
    background-color:rgb(255, 178, 157)  !important;
}

.input-cl.ng-invalid.ng-pristine{
    background-color:rgb(255, 247, 224) !important;
}

.ms-noh{
    background-color: rgba(255, 150, 0, 0.53);
    text-align: center;
    font-size: 18px;

    padding: 6px;

}
.ms-noh p{
    margin:0px;
}
/*REPLACE ZONE*/



.item-producto-img{

    max-width: 100px !important;
    max-height: 100px !important;
    border-radius: 5px !important;


}

.item-producto-img-car{

    max-width: 100px !important;
    max-height: 100px !important;
    border-radius: 5px !important;


}
.bar-dark-n{
    background: #173A65;
    color:white;
}

.fondo{
    background: rgba(234, 236, 238, 0.6);
}
.tituloP{
    text-align: center;
    color: black;
    font-weight: bolder;
}
.listP{
    border-radius: 7px;
    margin: 10px 15px 20px 15px;


}

.Rotate-90
{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    font-size: 14px;
    width: 100px;
    position: relative;
    left: -36px;
    top: -12px;
    font-weight: 800;
    color: #F1853B;
}
.calibrar{
    text-align: center;
    width: 100%!important;
}
.bgBodyCuponSel{
    background-color:rgba(232, 231, 231, 0.39)!important
}
.colorColaSel{
    color: #ead9d9!important;
}
.labelPG{
    color: gray;
    font-size: smaller;
}
.contLabelPG{
    top: -3px;
    position: relative;
}
.naranja{
    color: #F1853B!important;
}
.itemHP{
    padding: 10px 54px 10px 20px;
    border-bottom: solid 1px #bbb!important;
    background-color: white;
    border: solid 1px gray!important;
}
.itemC{
    border: solid 1px gray!important;
    background-color:white;
}
.itemHP.activated{
    background: #e4e5e7;;
    border: none;
}
.border-rs{
    border-radius: 7px 7px 0px 0px;
}
.border-ri{
    border-radius: 0px 0px 7px 7px;
}
.border-r7{
    border-radius:7px;
}
.bg-secundary{
    background-color:#0F2848
}
.bg-naranja{
    background-color: #F1853B!important;
}

.cabeceraDP{
    margin: -1px 0px 0px 0px;
    color: white;
    padding: 9px 5px 0px 15px;
    height:40px;
    min-height:25px!important;
}

.iconoB{
    font-size: x-large;
    color:white;
    position: relative;
    top: 4px;
    left: 2px;
}
.SiconB{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 17px;
}
.barB{
    padding: 10px;height: 60px;
}
.border-top{
    border-top: 1px solid gray;
}
.listDO{
    border-bottom: 1px solid gray;
    margin: 0px -10px!important;
}
.itemDO{
    padding: 10px 15px 5px 110px;
    height: 110px;
}
.topP{
    top: 103px!important;
}
.imgDO{
    top: 9px!important;max-width: 85px!important;
    border-radius:0px!important;
}
.colorprymary{
    color:#173A65!important;
}
.pPreDO{
    position: relative;
    top: -7px;
    font-size: large!important;
}
.pCosDO{
    position: relative;
    top: -13px;
    font-size: unset!important;
    font-weight: 700;
}
.pCanDO{
    font-size: 9px!important;
    position: relative;
    top: -20px;font-weight: 500;
}
.pPreFDO{
    font-size: 8px!important;
    position: relative;
    top: -38px;font-weight: 500;text-align:right;right:5px
}
.pTotDO{
    font-size: 18px!important;
    position: relative;
    top: -45px;font-weight: 700;text-align:right;
}
.verde{
    color:#3BC300;
}
.DesDO{
    float: right;font-size:medium
}
.fsm{font-size: 15px;}
.formPDO{
    margin-top:-20px;
    background-color: white;/*
    border-radius: 7px;
   border: solid 1px gray;*/
    padding: 10px;
}

.labelPG{
    color: gray;
    font-size: smaller;
}
.contLabelPG{
    top: -3px;
    position: relative;
}
.naranja{
    color: #F1853B;
}
.itemHP{
    padding: 10px 54px 10px 20px;
    border-bottom: solid 1px #bbb;
    background-color: white;
    border-bottom: solid 1px gray!important;
}
.itemHP.activated{
    background: #e4e5e7;;
    border: none;
}
.border-rs{
    border-radius: 7px 7px 0px 0px;
}
.border-ri{
    border-radius: 0px 0px 7px 7px;
}
.border-r7{
    border-radius:7px;
}
.bg-secundary{
    background-color:#0F2848
}
.bg-naranja{
    background-color: #F1853B;
}

.cabeceraDP{
    margin: -1px 0px 0px 0px;
    color: white;
    padding: 15px 5px 0px 15px;
}

.iconoB{
    font-size: x-large;
    color:white;
    position: relative;
    top: 4px;
    left: 2px;
}
.SiconB{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 17px;
}
.barB{
    padding: 10px;height: 60px;
}
.border-top{
    border-top: 1px solid gray;
}
.listDO{
    border-bottom: 1px solid gray;
    margin: 0px -10px!important;
}
.topP{
    top: 103px;px!important
}
.titleFPDO{
    font-size:large;font-weight: 500;margin: 0px 0px 0px 0px;color:black; 
}
.itemPAgo{
    width: 100%!important;
    border-radius: 15px;
    padding-left: 10px!important;
}
.contResCO{
    padding: 6px 10px 0px 10px;
    border-top: solid 1px #eee;
    margin: 0px -10px;
}
.bg-naranja-sc{
    background-color:#FAC44E!important;
}
.border-r-left{
    border-radius: 5px 0px 0px 5px;
}
.border-r-right{
    border-radius: 0px 5px 5px 0px;
}
.sCantCart{
    padding: 1px 11px;
    border-bottom: solid 1px #eee;
    border-top: solid 1px #eee;
}