<ion-view view-title='Escoja su ubicacion'>
	<div class="bar bar-subheader item-input-inset bg-secundary barB">
		<label class="item-input-wrapper bgWhite" style="border-radius:15px;height:100%">
			<input type="search" placeholder="Escriba una direccion" ng-model="buscar.direccion" style="width: 100%;padding-right:37px">
		</label>
		<a class="bar-dark-n SiconB" ng-click="buscarDireccionE()">
			<i class="icon ion-search placeholder-icon iconoB" ></i>
		</a>
	</div>
	<form name="FormSelDir" class="scroll padding form-space" novalidate>  
	<ion-content class="topP has-footer fondo" id="contenedor2">
		<ion-scroll zooming="false" direction="xy" style="width: 100%;height:100%">
				<div class="list">
					<input type="hidden" ng-model="direccion.lat"  name="latitud" required >
					<input type="hidden" ng-model="direccion.lon"  name="longitud" required>
					<div class="animate-hide">
						<div id="mapaSelUbiF" style="width:100%;background-color: #ddd;"></div>
						<ion-item ng-if="mensajeM.mostrar == true || buscando == true" style="position: relative;text-align: center;background-color: white;padding: 5px;">
							<p style="color:red;padding-top:10px">{{mensajeM.texto}}</p>
							<ion-spinner ng-if="buscando == true" icon="android" ></ion-spinner>
						</ion-item>
					</div>
					<label class="item item-input" style="padding-right: 16px;">
						<input style="border-radius:15px;padding-left:10px" class="bgWhite" type="text" ng-model="direccion.alias" name="alias" placeholder="Alias de la dirección" >
					</label>
				</div>
		</ion-scroll>
	</ion-content>
	<ion-footer class="bar bar-footer bg-naranja">
		<input type="submit" class="button-clear button-block" value="GUARDAR DIRECCIÓN" style="color:white; width: 100%;font-weight: 600;font-size: 16px;" ng-click="validarDireccion()" ng-disabled="!FormSelDir.$valid"/>
	</ion-footer>
   </form>
</ion-view>
