<ion-view view-title="Pagar pedido">
	<form name="formR" novalidate>
    <ion-content class="fondo has-header"  scroll="true" style="margin:0px;background: rgba(234, 236, 238, 0.6);">
		<h4 class="tituloP">Confirme su pedido</h4>
		<div class="list listP" style="top: -2px;">
			<div class="item item-icon-right bg-naranja cabeceraDP border-rs">
				<h2 class="colorWhite" style="font-weight: 600;">Pedido por {{carrito.total| currency:"$"}}</h2>
				<i class="icon ion-close colorprymary" ng-click="cacelarPedido()" style="font-size: x-large;padding-left: 3px;position: absolute;" >
				</i>
			</div>
			<div class="bgWhite" style="padding: 10px;">
				
				<h5 style="font-size:large;font-weight: 500;margin: 0px 0px 0px 5px;color:black;"><span class="icon ion-map"></span> Direccion:</h5>
				<div class="item item-icon-right" style="padding: 5px 35px 5px 5px;" >
					<h2 class="border-Plano fsm">{{carrito.direccion.alias}}</h2>
					<p class="border-Plano fsm" style="white-space:normal">{{carrito.direccion.direccion}}</p>
					<i class="icon ion-edit colorprymary" style="font-size: 25px; right:3px" ng-click="editarDireccion()"></i>
				</div>
				<div id="mapaCart" style="width:100%;background-color: #ddd;height:200px"></div>
				<textarea class="fondo itemPAgo" rows="3" name="referencias" placeholder="añade referencias para localizarte de una manera mas exapta (número de apartamento o casa, color de fachada, etc)" ng-model="carrito.direccion.referencias" style="width:100%;padding: 5px;margin-top:15px" required>
				</textarea>
				<p class="colorRojo" ng-if="formR.referencias.$invalid">Este campo es obligatorio</p>
				
				
				<h5 ng-if="cupones.length>0||usuario.creditoCupon>0" style="font-size:large;font-weight: 500;margin: 20px 0px 10px 5px;color:black;">
					<span class="icon ion-ios-pricetags"></span> 
					<span style="float: right;padding-right: 5px;" class="icon" ng-class="{'ion-chevron-down verde':mostrarCup==false,'ion-chevron-up verde':mostrarCup}" ng-click="mostrarCupones()"></span> 
					
					Cupones:
				</h5>
				<div ng-if="(cupones.length>0||usuario.creditoCupon>0)&&mostrarCup"  style="padding: 6px 0px 0px 0px;">
					<div ng-if="usuario.creditoCupon>0" class="row" style="height: 55px;padding:0px; margin-bottom:20px" ng-click="agregraCupon(1)">
						<div ng-class="{bgBodyCuponSel:selCupPer==true}" style="background-color: white;border-radius: 8px 0px 0px 8px;width:30px;border: solid 1px gray;">
							<div class="Rotate-90">Cupón</div>
						</div>
						<div ng-class="{bgBodyCuponSel:selCupPer==true}" class="col item" style="background-color: white;border: solid 1px gray;height:100%;position: relative;top: 1px;">
							<p style="white-space:normal">Obten {{usuario.creditoCupon| currency:"$"}} al momento de comprar por tu cupón personal</p>
						</div>
						<div class="bg-naranja" style="border-radius: 0px 8px 8px 0px;text-align:center;width:70px">
							<span ng-class="{colorColaSel:selCupPer==true}" style="font-size:large;color:white;position: relative;top: 8px;font-weight: 800;">{{usuario.creditoCupon| currency:"$"}}</span>
							<span ng-class="{colorColaSel:selCupPer==true}" style="font-size: small;color: white;font-weight: 700;position: relative;top: 5px;">Dcto.</span>
						</div>
					</div>
					<div class="row" style="height: 55px;padding:0px; margin-bottom:20px" ng-repeat="tupla in cupones track by $index" ng-click="agregraCupon(tupla)">
						<div ng-class="{bgBodyCuponSel:tupla.sel==true}" style="background-color: white;border-radius: 8px 0px 0px 8px;width:30px;border: solid 1px gray;">
							<div class="Rotate-90">Cupón</div>
						</div>
						<div class="col item" ng-class="{bgBodyCuponSel:tupla.sel==true}" style="background-color: white;border: solid 1px gray;height:100%;position: relative;top: 1px;">
							<p style="white-space:normal">{{tupla.descripcion}}</p>
						</div>
						<div class="bg-naranja"  style="border-radius: 0px 8px 8px 0px;text-align:center;width:70px">
							<span ng-class="{colorColaSel:tupla.sel==true}"  style="font-size:large;color:white;position: relative;top: 8px;font-weight: 800;">{{tupla.valor| currency:"$"}}</span>
							<span ng-class="{colorColaSel:tupla.sel==true}"  style="font-size: small;color: white;font-weight: 700;position: relative;top: 5px;">Dcto.</span>
						</div>
					</div>
				</div>
				
				
				<h5 style="font-size:large;font-weight: 500;margin:20px 0px 10px 5px;important;color:black;">
					<span class="icon ion-card"></span>
					<span style="float: right;padding-right: 5px;" class="icon" ng-class="{'ion-chevron-down verde':mostrarFP==false,'ion-chevron-up verde':mostrarFP}" ng-click="mostrarFormasP()"></span>
					Formas de pago:
				</h5>
				<div ng-if="mostrarFP" style="padding:0px;border-top: solid 1px #eee;padding-top: 7px;">
					<div class="border-Plano" style="border-bottom: solid 1px #eee;">
						<div class="row border-Plano"> 
							<div class="col col-75" style="padding-top:5px"> 
								<img src="img/paypal.png">
								<label style="px;left: 13px; position: relative;">Paypal</label>
							</div>
							<div class="col border-Plano" style="padding-bottom: 7px;">  
								<input class="fondo itemPAgo" type="tel" ng-model="carrito.pagos.paypal" ng-change="actualizarEfectivo()" style="width:100%" name="paypal" ng-pattern="decimal">
							</div>
						</div>
						<p class="colorRojo" style="margin: 0px;" ng-if="!formR.$paypal&&formR.paypal.$invalid">formato invalido</p>
					</div>
					<div class="border-Plano" style="border-bottom: solid 1px #eee;">
						<div class="row border-Plano">
							<div class="col col-75" id="FPT" style="height: 47px;">
								<img src="img/tarjeta.png" style="position:relative;top: 2px;">
								<div style="top: -37px;left: 53px; position: relative;text-overflow: ellipsis;white-space: nowrap;
    overflow: hidden;width: 100%;">
									Tarjeta de Credito/Debito
								</div>
								<div style="position: relative;left:55px;top:-39px;text-overflow: ellipsis;white-space: nowrap;
    overflow: hidden;width: 100%;">
									(Contra entrega)
								</div>
							</div> 
							<div class="col border-Plano" style="padding-top: 7px;">  
								<input class="fondo itemPAgo" type="tel" style="width:100%" ng-model="carrito.pagos.directoTarjeta" name="tarjeraCE" ng-pattern="decimal" ng-change="actualizarDirectoTarjeta()">
							</div>
						</div>
						<p class="colorRojo" style="margin: 0px;" ng-if="!formR.$paypal&&formR.tarjeraCE.$invalid">formato invalido</p>
					</div>
					
					<div class="row border-Plano" style="border-bottom: solid 1px #eee;">
						<div class="col col-75" style="max-height: 47px;">
							<img src="img/efectivo.png" style="position:relative;top: 2px;">
							<label style="top: -17px;left: 13px; position: relative;">
								Efectivo
							</label>
							<div style="position: relative;left: 51px;text-overflow: ellipsis;white-space: nowrap;
    overflow: hidden;width: 100%; padding-right: 50px;top: -19px;">
								(Contra entrega)
							</div>
						</div> 
						<div class="col-25 border-Plano" style="padding-top: 7px;"> 
							<div class="fondo itemPAgo" style="height: 34px;padding-top: 7px;">
							<span ng-if="(carrito.total- carrito.pagos.paypal)<0">-</span>{{carrito.pagos.directo| currency:"$"}}
							</div></div>
					</div>
				</div>
				
				
				
				<div class="contResCO">
					<label class="fsm">Cant. Productos:</label>
					<label class="fsm negrita" style="float:right;">{{carrito.productos.length}} Items</label><br>
					<label class="fsm">Subtotal:</label>
					<label class="fsm negrita" style="float:right;">{{carrito.subtotal| currency:"$"}}</label><br>
					<label class="fsm">Env&iacute;o:</label>
					<label class="fsm negrita" style="float:right;">{{carrito.envio| currency:"$"}}</label><br>
					<label ng-if="carrito.promocion>0" class="fsm verde">Promociones:</label>
					<label ng-if="carrito.promocion>0"class="fsm negrita verde" style="float:right;">-{{carrito.promocion| currency:"$"}}</label><br ng-if="carrito.pagos.promocion>0">
					<label ng-if="carrito.pagos.totalCupones>0" class="fsm verde">Cupones:</label>
					<label ng-if="carrito.pagos.totalCupones>0"class="fsm negrita verde" style="float:right;">-{{carrito.pagos.totalCupones| currency:"$"}}</label><br ng-if="carrito.pagos.totalCupones>0">
					<label class="fsm">Total:</label>
					<label class="fsm negrita" style="float:right;">{{(carrito.total-carrito.pagos.totalCupones)| currency:"$"}}</label><br>
					<label class="fsm">Pagado:</label>
					<label class="fsm negrita" style="float:right;">{{carrito.pagos.totalPagado| currency:"$"}}</label>
				</div>
			</div>
			<div class="bg-naranja cabeceraDP border-ri" style="margin-bottom: -1px;padding-top: 6px;padding-right: 15px;">
				<input type="submit" class="button-clear button-block" value="Procesar orden" style="color:white; width: 100%;font-weight: 600;font-size: 20px;" ng-click="pago()" ng-disabled="!formR.$valid||(carrito.pagos.totalPagado+carrito.pagos.totalCupones)!=carrito.total"/>
			</div>
		</div>
    </ion-content>
	</form>
</ion-view>


