<ion-view view-title="Control de cajas">
    <ion-content class="has-footer has-header" style="color: #fff;" scroll="false">
	    <div class="card" style="height: 94%;"> 
			<div class="item item-text-wrap no-padding" style="height:100%">
				<ion-scroll zooming="true" id="scroll" direction="xy" style=" background-color:#F0F3F8; height:100%;" overflow-scroll="false">
					<br><br>
					 <div ng-if="!cajas" style="text-align: center;">No hay cajas dsponibles por los momentos</div>
					<div id="visor" style="height:100%"> 
								
						<div ng-repeat="caja in cajas"  id="draggable3{{caja.numero}}" class="draggableV"> 
							<a style="font-size: 19px; left: -10px; top:-9px;color: gray;" id ="{{caja.numero}}" class=" button button-clear ion-record " ng-class="{rojo: caja.Estado2==0,verde: caja.Estado2==1}" ng-click="mostrarMenu($event,caja)" >
								<b style="position: absolute; top: -2px; left: -7px; color:white;text-shadow: 2px 2px 8px black" class="icon ion-chatbox"></b>
							</a> 
							<a style="font-size:10px;  position: relative; top: -71px; left: -8px;">
								 <b>{{caja.numero}}</b>
							</a>
						</div>
					</div>
				</ion-scroll>
			</div>
		</div>
    </ion-content>
	<ion-footer-bar class="bar-restaurant">
	</ion-footer-bar>
 <script id="opcionescaja.html" type="text/ng-template">
    <div id="compilar">
    <ion-modal-view>
    //header//
    <div class="bar bar-header" style="background-color: #DC4E1E;">
        <h1 class="title" style="color: white;text-align: left;">caja{{caja.numero}}&rarr;Opciones</h1>
        <div class="buttons">
            <button class="button-clear ion-close-circled" ng-click="cerrar()" style="color:#FFE6DE;font-size: 28px;"></button>
        </div>
    </div>
    //sub header//
    <div class="bar bar-subheader" style="background-color: #F5F3F3;color: gray;padding: 0px 10px 0px 10px;">
         <h1 class="title"  style="text-align: left;margin-right:0px;color:gray"> Estado:{{caja.Estado2==0?'Cerrada':'Aperturada'}}
            <span class="ion-record" ng-class="{rojo: caja.Estado2==0, verde: caja.Estado2!=0}"></span>
         </h1>
    </div>
    <ion-content class="has-subheader has-footer" id="scrollA">	
           <div ng-if="caja.Estado2==0"><!--caja cerrada, solo puedo abrirla-->
                <div class="list">
                    <label class="item item-input" style="height: 49px;">
                        <p>Numero de la caja: {{caja.numero}} <span style="padding-left:20px">Fecha: {{fecha}}<span></p>
                    </label>
                    <label class="item item-input" style="height: 49px;">
                        <p ng-if="datos.cajero==-1" style="color:red">Seleccione un cajero para aperturar la caja.</p>
                        <p ng-if="datos.cajero!=-1" style="color:green">Cajero seleccionado</p>
                    </label>
                    <label class="item item-input item-select">
                      <div class="input-label">
                        Cajero
                      </div>
                      <select ng-model="datos.cajero">
                        <option ng-repeat="cajero in cajeros" value="{{cajero.dni}}">{{cajero.name+'('+cajero.tipo+')'}}</option>
                      </select>
                    </label>

                </div>
           </div>
           <div ng-if="caja.Estado2==1" style="height:100%"><!--caja abierta, puedo abrir un turno,cerrar un turno o cerrar la caja-->
                <div ng-if="turno.final=='0000-00-00 00:00:00'" style="height:100%"><!--Turno abierto asi que muestro los datos y doy la opcion de cerralo-->
                  <ion-slide-box on-slide-changed="slideHasChanged($index)" style="height:100%" >
                    <ion-slide>
                      <div>
                          <div class="item" style="padding:10px">
                               Turno {{caja.numeroTurno}}: {{turno.final=='0000-00-00 00:00:00'?'Abierto':'Cerrado'}}
                           </div>
                           <div class="item" style="padding:10px">
                               Aperturado el: {{turno.inicio}}
                           </div>
                           <div class="item" style="padding:10px">
                               Cajero: {{turno.get_cajero.name+' ('+turno.get_cajero.dni+')'}}
                           </div>
                      </div>
                    </ion-slide>
                    <ion-slide> 
                       <ion-content class="desbordamiento" >
                      <div >
                        <div  ng-if="mostrar" style="    height: 100%;">
                          <div  style="text-align: center;margin-top: 25%;">
                                <img src="img/cargando.gif">Cargando Datos del reporte X...
                          </div>
                       </div>
                        <div  id="reporteX" style="padding: 10px;"> 
                        </div>
                    </div>
                    </ion-content>
                   </ion-slide>
                  </ion-slide-box>
              </div><!--Fin Turno abierto-->
        
                <div ng-if="turno.final!='0000-00-00 00:00:00'" style="height:100%"><!--Turno cerrado asi que doy la opcion de abrir un nuevo turno y de cerrar la caja-->
                   <ion-slide-box on-slide-changed="cambiar($index)" style="height:100%">
                        <ion-slide>
                                 <div ng-if="datos.opcion==1">
                                    <label class="item " style="height: 49px;text-align: center;padding: 12px;">
                                        Abrir Turno
                                    </label>
                                    <label class="item item-input" style="height: 49px;">
                                        <p>Numero de la caja: {{caja.numero}} <span style="padding-left:20px">Fecha: {{fecha}}<span></p>
                                    </label>
                                    <label class="item item-input" style="height: 49px;">
                                        <p ng-if="datos.cajero==-1" style="color:red">Seleccione un cajero para aperturar la caja.</p>
                                        <p ng-if="datos.cajero!=-1" style="color:green">Cajero seleccionado</p>
                                    </label>
                                    <label class="item item-input item-select">
                                      <div class="input-label">
                                        Cajero
                                      </div>
                                      <select ng-model="datos.cajero">
                                        <option ng-repeat="cajero in cajeros" value="{{cajero.dni}}">{{cajero.name+'('+cajero.tipo+')'}}</option>

                                      </select>
                                    </label>
                                </div> 
                        </ion-slide>
                        <ion-slide>
                            <ion-content class="desbordamiento">
                                <div ng-if="datos.opcion==0">
                                    <div  ng-if="mostrar" style="    height: 100%;">
                                        <div  style="text-align: center;margin-top: 25%;">
                                              <img src="img/cargando.gif">Cargando Datos del reporte Z...
                                        </div>
                                     </div>
                                      <div  id="reporteZ" style="padding: 10px;"> 
                                      </div>
                               </div>
                             </ion-content>
                        </ion-slide>
                </ion-slide-box>
                </div><!--Fin Turno cerrado-->
               
           </div>
    </ion-content>
   
    <ion-footer-bar style="background-color: #DC4E1E;" ng-if="caja.Estado2==0||datos.opcion==1&&turno.final!='0000-00-00 00:00:00'">
            <button ng-if="caja.Estado2==0||datos.opcion==1&&turno.final!='0000-00-00 00:00:00'" id="aperturar" class="button-clear"  style="font-size:19px;color: white;width:50%"  ng-click="aperturarCaja()" ng-disabled="datos.cajero==-1">Aperturar</button>
            <button  class="button-clear" style="font-size:20px;color:white;width:50%" ng-click="cerrar()">Cancelar</button>
    </ion-footer-bar>
    <ion-footer-bar style="background-color: #DC4E1E;" ng-if="caja.Estado2==1&&turno.final=='0000-00-00 00:00:00'">
            <button  class="button-clear"  style="font-size:19px;color: white;width:50%"  ng-click="confirmaropcion(2)" >Cerrar Turno</button>
            <button  class="button-clear" style="font-size:20px;color:white;width:50%" ng-click="cerrar()">Cancelar</button>
    </ion-footer-bar>
    <ion-footer-bar style="background-color: #DC4E1E;" ng-if="caja.Estado2==1&&datos.opcion==0">
            <button class="button-clear"  style="font-size:19px;color: white;width:50%"  ng-click="confirmaropcion(1)" >Cerrar Caja</button>
            <button  class="button-clear" style="font-size:20px;color:white;width:50%" ng-click="cerrar()">Cancelar</button>
    </ion-footer-bar>
    </ion-modal-view>
    </div>
</script>
</ion-view>


