<ion-view view-title='Mi Perfil' class="fondo-view">
   
        <ion-content class=""  padding="true" scroll="true">
            <h3 style="font-weight: 700;    text-align: center; color: #173a65;">OPCIONES DE CONTACTO</h3>
            <div class="" >

                <div class="list">

                    <div  class="item item-icon-left item-icon-right no-padding " style="background: #fff;  border-top-left-radius:  10px; border-top-right-radius:   10px; margin-top: 25px; padding-top: 5px; padding-bottom:  5px">
                        <i class="icon icon-correo placeholder-icon" style="font-size: 16px; "></i>
                        <label class="item item-input  item-stacked-label " style="left:40px">
                            <span class="input-label" style="font-size: 10px">CORREO</span>
                            <input readonly name="nombre" type="text" placeholder="Nombre"  ng-model="correo" ng-init="correo='info@chelaplus.mx'" style="    font-size: 16px; height: 16px; font-size: 14px; width: 90%;background-color: rgba(240, 248, 255, 0);     font-weight: 700;" required>
                        </label>
                    </div>

                    <div  class="item item-icon-left item-icon-right no-padding " style="background: #fff;   border-bottom-left-radius:  10px; border-bottom-right-radius:   10px; border-top: 1px solid #e0e0e0;padding-top: 5px; padding-bottom:  5px">
                        <i class="icon icon-telefono" style="font-size: 20px; "></i>
                        <label class="item item-input  item-stacked-label " style="left:40px">
                            <span class="input-label" style="font-size: 10px">TELEFONO</span>
                            <input readonly name="correo" type="TEXT" placeholder="Correo"  ng-model="telefono" ng-init="telefono='5562358426'" required style="    font-size: 16px; height: 16px; font-size: 14px; width: 90%;background-color: rgba(240, 248, 255, 0);     font-weight: 700;">
                        </label>
                    </div>
                    <h3 class="link-h1">AVISO DE PRIVICIDAD</h3>
           



                </div>






            </div>


        </ion-content>
        
</ion-view>


