<ion-view view-title='Crear Tickect'>
    <div class="bar bar-subheader bar-energized-900 noBSho" style="padding-top:0px; background-color: #ff6100;">
        <label class="title" style="font-size: initial;">Complete los datos<label>
                </div>

                <ion-content class=" has-subheader" style="background-image: url('img/materialwrite2c.jpg');">
                    <ion-scroll zooming="false" direction="xy" style="width: 100%; height: 100%">
                        <form name="form_evento" class="scroll padding">  
                            <div class="list">

                                <label class="item item-input item-stacked-label">
                                    <span class="input-label" style="font-weight: 600;">Nombre de Entrada</span>
                                    <input type="text" class="input-cl" placeholder="Nombre (min 6)" style=" text-align: center" ng-model="ticket.name" required ng-minlength="6" ng-maxlength="100">
                                </label>

                                <label class="item item-input item-stacked-label">
                                    <span class="input-label" style="font-weight: 600;" >Valor</span>
                                    <input type="number" class="input-cl" placeholder="Edad minima para asistir al evento" style=" text-align: center" ng-model="ticket.value" ng-init= "ticket.value = 1" ng-min="0"  required>
                                </label>
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label" style="font-weight: 600;" >Fecha de inicio venta</span>
                                    <input type="date" class="input-cl" placeholder="Fecha de inicio venta" style=" text-align: center" ng-model="ticket.sttime" required>
                                </label>

                                <label class="item item-input item-stacked-label">
                                    <span class="input-label" style="font-weight: 600;" >Fecha de fin venta</span>
                                    <input type="date" class="input-cl" placeholder="Fecha de fin evento" style=" text-align: center" ng-model="ticket.lsttime" required>
                                </label>





                            </div>


                        </form>




                        <p class="" style="color:green;padding-left: 10px;padding-top: 5px;">* Indica campo(s) obligatorio(s)</p>
                        <button class=" button button-block button-energized"   style="color:white; width: 100%;font-weight: 600;font-size: 16px;" ng-click="guardarSolicitud(form_evento.$valid)" ng-disabled="!form_evento.$valid"> Guardar Ticket</button>

                    </ion-scroll>
                </ion-content>

                </ion-view>
