<ion-view view-title='Perfil'>
	<div class="bar bar-subheader bar-assertive-900 noBSho" style="padding-top:0px; background-color: #ff6100;">
		<label class="title" style="font-size: initial;;">Datos de mi perfil<label>
	</div>
	<ion-content class="has-subheader"  padding="true" scroll="true">
        <div class="" >
            <form name="form_login" class="">  
                <div class="list">
					 <label class="item item-input item-stacked-label">
                        <span class="input-label" style="font-weight: 600;">Nombre</span>
                        <input type="text" placeholder="Nombre (min 6)" style="background-color:rgb(255, 247, 224); text-align: center" ng-model="usuario.name" required ng-minlength="6" ng-maxlength="20">
                    </label>
					 
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" style="font-weight: 600;">Correo</span>
                        <input type="email" placeholder="Correo" style="background-color:rgb(255, 247, 224); text-align: center" ng-model="usuario.mail" required >
                    </label>
					
					<label class="item item-input item-stacked-label">
                        <span class="input-label" style="font-weight: 600;">Correo de Contacto</span>
                        <input type="email" placeholder="Correo de contacto" style="background-color:rgb(255, 247, 224); text-align: center" ng-model="usuario.contactmail" >
                    </label>
					
					<label class="item item-input item-stacked-label">
                        <span class="input-label" style="font-weight: 600;">Telefono</span>
                        <input type="tel" placeholder="Usuario (min 6)" style="background-color:rgb(255, 247, 224); text-align: center" ng-model="usuario.telefono"  >
                    </label>
					
					
					
                   <label class="item item-input item-stacked-label" ng-if="usuario.active==0">
                      
						<button class="button button-block button-energized-900" ng-click="upgrade()" ng-disabled="(!form_login.$valid || user.password != user.password_confirm) ">
                            Upgrade
                        </button>
                    </label>
					
					<label class="item item-input item-stacked-label" ng-if="usuario.active==1">
						<h3>Cuenta Activa</h3>
						<label class="item item-input item-stacked-label">
							<span class="input-label" style="font-weight: 600;">Fecha de Vencimiento:</span><br>
							<span class="input-label" style="font-weight: 300;">{{usuario.fecha_vencimiento}}</span>
						</label>
                    </label>
					
					
                    
                    <label class="item item-input item-stacked-label">
                        <button class="button button-block button-energized-100" ng-click="registrar()" ng-disabled="(!form_login.$valid || user.password != user.password_confirm) ">
                            Guardar
                        </button>
                    </label>
                    
                </div>


            </form>



        </div>


    </ion-content>
</ion-view>


