<ion-view view-title='Escoja su ubicacion'>
	<div class="bar bar-subheader item-input-inset">
		<label class="item-input-wrapper bgWhite">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Buscar direccion" ng-model="filter.$">
		</label>
	</div>
	<form name="form_evento" class="scroll padding form-space" novalidate>  
	<ion-content class="has-subheader has-footer" id="contenedor">
		<ion-scroll zooming="false" direction="xy" style="width: 100%; height: 100%">
				<div class="list">
					<input type="hidden" ng-model="evenReg.lat"  name="latitud" required >
					<input type="hidden" ng-model="evenReg.lon"  name="longitud" required>
					<div class="animate-hide">
						<div id="mapaRegEven" style="width:100%;background-color: #ddd;"></div>
						<ion-item ng-if="mensajeM.mostrar == true || buscando == true" class="item-input item-icon-right" style="text-align:center">
							<p style="color:red">{{mensajeM.texto}}</p>
							<ion-spinner ng-if="buscando == true" icon="android"  style="margin-left: 45%;"></ion-spinner>
						</ion-item>
					</div>
				</div>
		</ion-scroll>
	</ion-content>
	<ion-footer class="bar bar-footer bar-dark">
		<input type="submit" class="button-clear button-block" value="REALIZAR SOLICITUD" style="color:white; width: 100%;font-weight: 600;font-size: 16px;" ng-click="guardarSolicitud()" ng-disabled="!FormEvenReg.$valid"/>
	</ion-footer>
   </form>
</ion-view>
