<ion-view view-title='Pedido {{ordenSel.created_at.substring(8,10)}}-{{ordenSel.created_at.substring(5,7)}}-{{ordenSel.created_at.substring(0,4)}}'>
    <ion-content class="fondo has-header" scroll="true" style="margin:0px;">
		<h4 class="tituloP">Detalles de la orden</h4>
		<div class="list listP" style="top: -2px;">
			<div class="item item-icon-right bg-naranja cabeceraDP border-rs" >
				<h2 style="font-weight: 700;color: white;">Código: {{ordenSel.idFactura}}
					<label ng-if="ordenSel.estado == 3" style="font-size: 17px;margin-right: 49px;float: right;margin-top: -4px;">Por despachar</label>
                    <label ng-if="ordenSel.estado == 4||ordenSel.estado == 5" style="font-size: 17px;margin-right: 49px;float: right;margin-top: -4px;">Despachada</label>
					<label ng-if="ordenSel.estado == 6" style="font-size: 17px;margin-right: 49px;float: right;margin-top: -4px;">Entregada</label>
				</h2>
				<i class="icon" ng-click="abrirModal()" style="font-size: x-large;padding-left: 3px;position: absolute;color:white" ng-class="{'ion-clock':ordenSel.estado==3,'ion-android-bicycle':ordenSel.estado==4||ordenSel.estado==5,'ion-checkmark':ordenSel.estado==6}" >
				</i>
			</div>
			<div class="bgWhite" style="padding: 10px;">
				<h5 style="font-size:large;font-weight: 500;margin: 0px 0px 0px 5px;color:black;"><span class="icon ion-map"></span> Direccion:</h5>
				<div class="item" style="padding: 5px 5px 5px 5px;margin-bottom:20px" >
					<h2 class="border-Plano fsm">{{ordenSel.direccion.alias}}</h2>
					<p class="border-Plano fsm" style="white-space: normal;">{{ordenSel.direccion.texto}}</p>
				</div>
				
				<div class="list listDO border-Plano" ng-repeat="detalle in ordenSel.detalles track by $index" ng-class="{'border-top':$index==0}">
					<div class="item item-thumbnail-left itemDO" >
						<img src="img/Bohemia-Oscura.png" class="imgDO">
						<p style="font-size:small">	
							{{detalle.getproducto.nombre}}
						</p>
						<h2 class="negrita pPreDO">{{detalle.getpresentacion.presentacion}}</h2>
						<p class="colorprymary pCosDO">
							{{detalle.getpresentacion.costo| currency:"$"}}
							<span class="verde DesDO" ng-if="detalle.valorDescuento>0">
								-{{detalle.valorDescuento| currency:"$"}}
							</span>
						</p>	
						<p class="pCanDO">
							{{detalle.cantidad}} UNIDADES
						</p>	
						<p class="naranja pPreFDO">
							precio final
						</p>	
						<p class="naranja pTotDO">
							{{(detalle.cantidad*detalle.precio)| currency:"$"}}
						</p>	
					</div>
				</div>
				<!--<h4 style="font-weight: 500;margin: 20px 0px 0px 0px;color:black"><span class="icon ion-card"></span> Pagos realzados:</h4>
				<div class="list">
					<div ng-if="ordenSel.totalCredito>0" class="row" style="margin-top:10px;height: 55px;padding:0px; margin-bottom:20px">
						<div style="background-color: white;border-radius: 8px 0px 0px 8px;width:30px;border: solid 1px gray;">
							<div class="Rotate-90">Cupón</div>
						</div>
						<div class="col item" style="background-color: white;border: solid 1px gray;height:100%;position: relative;top: 1px;">
							<p style="white-space:normal">Obten {{ordenSel.totalCredito| currency:"$"}} al momento de comprar por tu cupón personal</p>
						</div>
						<div style="background-color:rgba(255, 57, 57, 0.89);border-radius: 0px 8px 8px 0px;text-align:center;width:70px">
							<span style="font-size:large;color:white;position: relative;top: 8px;font-weight: 800;">{{ordenSel.totalCredito| currency:"$"}}</span>
							<span style="font-size: small;color: white;font-weight: 700;position: relative;top: 5px;">Dcto.</span>
						</div>
					</div>
					<div class="row" ng-repeat="tupla in ordenSel.cupones track by $index" style="height: 55px;padding:0px; margin-bottom:20px; {{$index==0&&ordenSel.totalCredito==0?'margin-top:10px':''}};{{$index==(ordenSel.cupones.length-1)?'margin-bottom:10px':''}}">
						<div  style="background-color: white;border-radius: 8px 0px 0px 8px;width:30px;border: solid 1px gray;">
							<div class="Rotate-90">Cupón</div>
						</div>
						<div class="col item" style="background-color: white;border: solid 1px gray;height:100%;position: relative;top: 1px;">
							<p style="white-space:normal">{{tupla.descripcion}}</p>
						</div>
						<div style="background-color:rgba(255, 57, 57, 0.89);border-radius: 0px 8px 8px 0px;text-align:center;width:70px">
							<span style="font-size:large;color:white;position: relative;top: 8px;font-weight: 800;">{{tupla.pivot.montoPagado| currency:"$"}}</span>
							<span  style="font-size: small;color: white;font-weight: 700;position: relative;top: 5px;">Dcto.</span>
						</div>
					</div>
					<div style="padding: 6px 10px 10px 0px;">
						<div class="row border-Plano"> 
							<div class="col col-25"> 
								<img src="img/logo-paypal.png" style="width: 100%;margin-top: 6px;"> 
							</div>
							<div class="col">  
								<input type="tel" ng-model="ordenSel.paypal" style="width:100%;background-color:white" readonly="true">
							</div>
						</div>
						<div class="row border-Plano">
							<div class="col col-25" style="font-size: large;"> Efectivo: </div> 
							<div class="col">{{ordenSel.directo| currency:"$"}}</div>
						</div>
					</div>
				</div>
				-->
				<div style="padding: 6px 0px 0px 0px;">
					<label class="fsm">Subtotal:</label>
					<label class="fsm negrita" style="float:right;">{{ordenSel.subTotal| currency:"$"}}</label><br>
					<label class="fsm">Env&iacute;o:</label>
					<label class="fsm negrita" style="float:right;">{{ordenSel.envio| currency:"$"}}</label><br>
					<label ng-if="ordenSel.descuento>0" class="fsm verde">Promociones:</label>
					<label ng-if="ordenSel.descuento>0" class="fsm negrita verde" style="float:right;">-{{ordenSel.descuento| currency:"$"}}</label><br ng-if="ordenSel.descuento>0">
					<label ng-if="(ordenSel.totalCupones+ordenSel.totalCredito)>0" class="fsm verde">Cupones:</label>
					<label ng-if="(ordenSel.totalCupones+ordenSel.totalCredito)>0" class="fsm negrita verde" style="float:right;">-{{(ordenSel.totalCupones+ordenSel.totalCredito)| currency:"$"}}</label><br ng-if="(ordenSel.totalCupones+ordenSel.totalCredito)>0">
				</div>
			</div>
			<div class="formPDO" ng-if="ordenSel.paypal>0||ordenSel.directo>0||ordenSel.directoTarjeta>0">
				<h5 class="titleFPDO">Formas de pago:</h5>
				<div style="padding:0px;">
					<label ng-if="ordenSel.paypal>0" class="fsm">Paypal:</label>
					<label ng-if="ordenSel.paypal>0" class="fsm negrita" style="float:right;">{{ordenSel.paypal| currency:"$"}}</label><br>
					<label ng-if="ordenSel.directo>0" class="fsm">Efectivo (Contra entrega):</label>
					<label ng-if="ordenSel.directo>0" class="fsm negrita" style="float:right;">{{ordenSel.directo| currency:"$"}}</label><br>
					<div class="fsm" ng-if="ordenSel.directoTarjeta>0" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 100%; padding-right: 67px;">
						Tarjeta Deb./Crd. (Contra entrega):
					</div>
					<label ng-if="ordenSel.directoTarjeta>0" class="fsm negrita" style="float:right;margin-top: -17px;">{{ordenSel.directoTarjeta| currency:"$"}}</label>
				</div>
			</div>
			<div class="bg-naranja cabeceraDP border-ri" style="margin-bottom: -1px;padding-top: 6px;padding-right: 15px;">
				<label style="font-size: large;">Total:</label>
				<label style="float:right;font-size: large;font-weight: 700;">{{(ordenSel.total-(ordenSel.totalCupones+ordenSel.totalCredito))| currency:"$"}}</label><br>
			</div>
		</div>
	</ion-content>
	<script id="estadoPedido.html" type="text/ng-template">
    <ion-modal-view>
		//header//
		<div class="bar bar-header bar-dark-n noBSho">
			<h1 class="title" style="color: white;text-align: left;padding-left: 20px;">Pedido</h1>
			<div class="buttons">
				<button class="button-clear ion-close-circled" ng-click="cerraModal()" style="color:white;font-size: 28px;"></button>
			</div>
		</div>
		//sub header//
		<div class="bar bar-subheader noBSho" style="background-color: aliceblue;color: gray;padding: 0px 10px 0px 10px;">
			 <h4 class="tituloP">Detalles de la orden</h4>
		</div>
		<ion-content class="has-subheader" style="background: #f6f5f5;">	
			<h4 class="title" style="font-weight: normal;text-align:center;color:black;margin-bottom: 0px;margin-top: 31px;">
				<i class="icon {{iconos[ordenSel.estado]}}"></i>
				{{ordenSel.estado==4?'El repartidor':'Tu pedido'}} esta
			</h4>
			<h4 class="tituloP" style="margin-top: 0px;">{{estados[ordenSel.estado]}}</h4>
			<img  src="{{imagenes[ordenSel.estado]}}" ng-class="{'entregada':ordenSel.estado==6}" style="left: 20%;position: relative;">
			<div ng-if="ordenSel.estado==4||ordenSel.estado==5">
				<p style="text-align:center;color:black;margin-bottom: 0px;margin-top: 10px;font-size: 17px;">
					<i class="icon ion-android-car"></i>
					Distancia total del recorrido: {{ordenSel.distancia_envio}} Km.
				</p>
				<p style="font-weight: normal;text-align:center;color:black;margin-bottom: 0px;font-size: 17px;">
					<i class="icon ion-clock"></i>
					Tiempo estimado de llegada: {{ordenSel.tiempoEnvio}} Min.
				</p>
			</div>
			<a href="tel:+5073925688" ng-if="ordenSel.estado!=6" class="button link-llamar bg-naranja" ng-class="{'link-llamar2':ordenSel.estado==4||ordenSel.estado==5}">Contacto</a>
		</ion-content>
    </ion-modal-view>
</script>
</ion-view>


