<ion-view view-title="Login" style="    background-color: #FF5722;background-image: url('img/material1.jpg'); background-size: cover;">
    <ion-content class=""  padding="true" scroll="true">
        <div style=" margin-top: 25%;padding: 5px;border-radius: 10%;">
            <div style="text-align:center; padding: 95px">

            </div>
            <div class="" >
                <form name="form_login" class="">  
                    <div class="list" style="    position: relative;top: -10px; color: white">

                        <div class="row">
                            <div class="col col-100">
                                <a ng-click="login_google()" style="    border-radius: 15px;     width: 100%;">
                                    <div class="row"  >
                                        <div class="col col-20" style='background-color: #BB3929;  border-bottom-left-radius: 15px; border-top-left-radius: 15px;padding: 15px; text-align: center; '>
                                            <i class='ion-ico ion-social-googleplus' style="    font-size: x-large;"></i>
                                        </div>
                                        <div class="col col-80" style='background-color: #D8432F; border-bottom-right-radius: 15px; border-top-right-radius: 15px ; padding: 15px; text-align: center;'>
                                            Iniciar sesi&oacute;n con Google
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        
                         <div class="row">
                            <div class="col col-100">
                                <a ng-click="login_pr()" style="    border-radius: 15px;     width: 100%;">
                                    <div class="row"  >
                                        <div class="col col-20" style='background-color: #075A86;  border-bottom-left-radius: 15px; border-top-left-radius: 15px;padding: 15px; text-align: center; '>
                                            <i class='ion-ico ion-social-facebook' style="    font-size: x-large;"></i>
                                        </div>
                                        <div class="col col-80" style='background-color: #0A6999; border-bottom-right-radius: 15px; border-top-right-radius: 15px ; padding: 15px; text-align: center;'>
                                            Iniciar sesi&oacute;n con Facebook
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>

                       






                    </div>


                </form>


            </div>
        </div>

    </ion-content>
</ion-view>


