<ion-view view-title='Escoja su ubicacion'>
	<div class="bar bar-subheader item-input-inset bg-secundary barB">
		<label class="item-input-wrapper bgWhite" style="border-radius:15px;height:100%">
			<input type="search" placeholder="Escriba una direccion" ng-model="buscar.direccion" style="width: 100%;padding-right:37px">
		</label>
		<a class="bar-dark-n SiconB" ng-click="buscarDireccionE()">
			<i class="icon ion-search placeholder-icon iconoB" ></i>
		</a>
	</div>
	<form name="FormSelDir" class="scroll padding form-space" novalidate>  
	<ion-content class="topP has-footer" id="contenedor">
		<ion-scroll zooming="false" direction="xy" style="width: 100%;height:100%">
				<div class="list">
					<input type="hidden" ng-model="direccion.lat"  name="latitud" required >
					<input type="hidden" ng-model="direccion.lon"  name="longitud" required>
					<div class="animate-hide">
						<div id="mapaSelUbi" style="width:100%;background-color: #ddd;"></div>
						<ion-item ng-if="mensajeM.mostrar == true || buscando == true" style="position: relative;text-align: center;top: -44px;background-color: white;padding: 5px;">
							<p style="color:red">{{mensajeM.texto}}</p>
							<ion-spinner ng-if="buscando == true" icon="android" ></ion-spinner>
						</ion-item>
					</div>
				</div>
				<button class="button button-fab button-fab-bottom-right" ng-if="!buscando&&mensajeM.mostrar==false" ng-click="openPopover()">
					<i class="icon icon-pin-map"></i>
				</button>
		</ion-scroll>
	</ion-content>
	<ion-footer class="bar bar-footer bg-naranja">
		<input type="submit" class="button-clear button-block" value="CONTINÚA CON TU PEDIDO" style="color:white; width: 100%;font-weight: 600;font-size: 16px;" ng-click="validarDireccion()" ng-disabled="!FormSelDir.$valid"/>
	</ion-footer>
   </form>
</ion-view>
