<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content >
        <ion-nav-bar class="bar-dark-n noBSho" ng-show="usuario" >
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a class="button button-icon button-clear " ng-class="{'ion-ios-cart': carrito.productos.length > 0, 'ion-ios-cart-outline': carrito.productos.length == 0}" style="margin-top: 6px;" id="menu-popover" href="#/app/carrito" ng-if="mostrarICon2()"></a>

            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" >
        <ion-header-bar class="expanded" style=" background-color: #0f2847;">

            <div class="menu-bottom">
                
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header" style="background-color:#1d345d">
            <ion-list class="menu-pr">
                <ion-item ng-show="usuario"  class="ltr-menu item item-icon-left left-pr1 " nav-clear ng-click="irEstado()" menu-close style="border-bottom:  0.05em outset #99a8bb">
                    <i class="icon  ion-record punto-amarillo"></i> <i class="icon  icon-carrito menu-icono" ></i> <span style=" padding-left: 25px !important;"> Realizar Compra </span>
                </ion-item>
                <ion-item ng-show="usuario"  class="ltr-menu item item-icon-left left-pr " nav-clear menu-close href="#/app/direcciones-favoritas"  style="border-bottom:  0.05em outset #99a8bb" >
                     <i class="icon  ion-record punto-amarillo" ></i><i class="icon  icon-pin-map menu-icono" ></i> <span style=" padding-left: 25px !important;">Direcciones favoritas </span>
                </ion-item>
                <ion-item ng-show="usuario"  class="ltr-menu item item-icon-left left-pr " nav-clear menu-close  href="#/app/historial-Pedidos"  style="border-bottom:  0.05em outset #99a8bb">
                    <i class="icon  ion-record punto-amarillo" ></i> <i class="icon  icon-pedido menu-icono" ></i> <span style=" padding-left: 25px !important;">Pedidos Realizados</span>
                </ion-item>

                <ion-item ng-show="usuario.active == 1"  class="ltr-menu item item-icon-left left-pr" nav-clear menu-close href="#/app/cupones-disponibles"  style="border-bottom:  0.05em outset #99a8bb">
                    <i class="icon  ion-record punto-amarillo" ></i> <i class="icon  icon-cupon-1 menu-icono" ></i><span style=" padding-left: 25px !important;"> Cupones </span>
                </ion-item>
                <ion-item ng-show="usuario"  class="ltr-menu item item-icon-left left-pr " nav-clear menu-close href="#/app/perfil"  style="border-bottom:  0.05em outset #99a8bb">
                    <i class="icon  ion-record punto-amarillo"></i> <i class="icon  ion-person menu-icono" ></i> <span style=" padding-left: 25px !important;"> Ver Perfil </span>
                </ion-item>
                 <ion-item ng-show="usuario"  class="ltr-menu item item-icon-left left-pr " nav-clear menu-close href="#/app/contacto"  style="border-bottom:  0.05em outset #99a8bb">
                    <i class="icon  ion-record punto-amarillo"></i> <i class="icon  icon-contacto menu-icono" ></i> <span style=" padding-left: 25px !important;"> Contacto </span>
                </ion-item>

                <ion-item ng-show="usuario"  class="ltr-menu item item-icon-left left-pr1 "  nav-clear menu-close ng-click="logout()">
                    <i class="icon  ion-record punto-amarillo" ></i><i class="icon  icon-salir menu-icono" ></i>  <span style=" padding-left: 25px !important;">  Salir </span>
                </ion-item>

                <ion-item   ng-show="!usuario"  class="ltr-menu item "  nav-clear menu-close ng-click="logout()" style="margin-top: 60%;text-align: center; white-space: normal;">
                    Proyecto realizado por A&Y<br> Fase Pruebas Septiempre del 2017<br> Version 1.0.0
                </ion-item>

            </ion-list>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>

<!--Nota para merge: ALEJANDRO PRIMERO-->