<ion-view view-title='Eventos'>
    <div class="bar bar-subheader bar-assertive-900 "  style="padding-top:0px; background-color: #ff6100;">
        <label class="title">Mis eventos<label>
                </div>

                <ion-content class="has-subheader"  padding="false" scroll="false" on-swipe-down="buscarAsistencias()">
                    <div class="bar bar-header item-input-inset noBSho">
                        <label class="item-input-wrapper bgWhite">
                            <i class="icon ion-ios-search placeholder-icon"></i>
                            <input type="search" placeholder="Buscar eventos" ng-model="filtro">
                        </label>
                    </div>

                    <ion-content  class="has-header" scroll="false">
                        <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%;" ng-if="Miseventos.length != 0" on-swipe-up="pagSig()">

                            <ion-list>
                                <a class="item item-thumbnail-right repetido" ng-repeat="evento in Miseventos| filter:filtro" 
                                   style="border-bottom: solid 1px  rgba(255, 97, 0, 0.73);">
                                    <img ng-src="{{evento.img!=''?evento.img: 'img/material-graphite.jpg'}}" style=" border-radius: 15px;  " >
                                    <h2 style="width:100%;">
                                        <div style="overflow: hidden;text-overflow: ellipsis;">{{evento.name}}</div>
                                    </h2>
                                    <h3>
                                        <span style="font-size: 12px;float: left">{{evento.date.substring(8, 10)}}/{{evento.date.substring(5, 7)}}/{{evento.date.substring(0, 4)}} {{evento.date.substring(11, 16)}}</span>
										<span style="float: right"><span class="ion-mic-c colorGris" style="font-size: 18px;"></span> Tipo: {{getType(evento.type)}}</span>
                                    </h3>
                                    <p >
                                       
                                        <span style="float: left">
                                            <span class="ion-edit olorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="editarEvento(evento)"></span>
                                            <span class="ion-pricetags colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="VerTicket(evento)"></span>
                                            <span class="ion-eye  colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="VerEvento(evento)"></span>
                                            <span class="ion-images  colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="VerGaleria(evento)"></span>
                                            <span class="ion-trash-a  colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="eliminar_ev(evento.id, $index)"></span>

                                        </span>
                                    </p>
                                    <p ng-if="false" style="padding-bottom: 2px; padding-left: 10px;position: relative;bottom: 0px; top: 11px; background-color: #ff6100;     left: -15px;
    border-bottom-right-radius: 15px;">
                                        
                                        <span>
                                            <span class="ion-edit olorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="editarEvento(evento)"></span>
                                            <span class="ion-pricetags colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="VerTicket(evento)"></span>
                                            <span class="ion-eye  colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="VerEvento(evento)"></span>
                                            <span class="ion-images  colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="VerGaleria(evento)"></span>
                                            <span class="ion-trash-a  colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="showAlert_eliminar(evento)"></span>

                                        </span>
                                    </p>



                                </a>
                                <div class="list no-repetido"  >

                                    <div class="ms-noh">

                                        <p>
                                            No posee eventos registrado.<br> Cree uno y promocione su evento a traves de nuestra App.
                                        <div class="row">
                                            <div class="col col-25">
                                            </div>
                                            <div class="col col-50">
                                                <img class="full-image" src="img/logo.jpg" style="opacity: 0.7;">
                                            </div>
                                            <div class="col col-25">
                                            </div>
                                        </div>

                                        </p>
                                    </div>
                                </div>
                            </ion-list>
                            <p ng-if="error">{{error}}</p>
                            <ion-spinner icon="android" ng-if="mostrarC" style="margin-left: 44%;"></ion-spinner>
                        </ion-scroll>

                    </ion-content>
                </ion-content>


                </ion-view>


