<ion-view view-title='Tickects'>
    <div class="bar bar-subheader bar-assertive-900 "  style="padding-top:0px; background-color: #ff6100;">
        <label class="title">Mis Tickets<label>
                </div>
                <ion-content class="has-subheader"  padding="false" scroll="false" on-swipe-down="buscarAsistencias()">
                    <div class="item bgWhite" ng-if="Mistickets.length == 0">
                        <div class="">
                            <p class="" style="color:red;padding-left: 10px;">No hay evento disponibles</p>
                        </div>
                    </div>
                    <ion-content  class="" scroll="false">
                        <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%;" ng-if="Mistickets.length != 0" on-swipe-up="pagSig()">
                            <div class="item" style="background-color:white!important;" ng-show="Mistickets == 0">
                                <div class="">
                                    <p class="" style="color:red;">No se encontraron resultados para su busqueda</p>
                                </div>
                            </div>
                            <ion-list>

                                <a class="item item-icon-left" ng-repeat="ticket in Mistickets"  style="border-bottom: solid 1px #bbb;">
                                    <i class="icon energized ion-pricetags" style="font-size: xx-large;"   ></i>
                                    <h2 style="width:100%;">
                                        <div style="max-width: 58%; overflow: hidden;text-overflow: ellipsis;">{{ticket.name}}</div>
                                        <div style="font-size: 13px;top: 20px; right: 15px;position: absolute;">{{mostrarFecha(ticket.sttime)|date: 'd-M-yyyy' }} - {{mostrarFecha(ticket.lsttime)|date: 'd-M-yyyy'}}</span>
                                    </h2>
                                    <p>
                                         <span class="ion-cash colorGris" style="font-size: 24px;     margin-right: 15px;" > {{ticket.value}}</span>
                                        <span style="float: right">
                                            <span class="ion-edit colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="editarTicket(ticket)"></span>
                                            <span class="ion-trash-a colorGris" style="font-size: 24px;     margin-right: 15px;" ng-click="eliminar(ticket, $index)"></span>
                                           

                                        </span>
                                    </p>
                                </a>
                               

                            </ion-list>
                            <p ng-if="error">{{error}}</p>
                            <ion-spinner icon="android" ng-if="mostrarC" style="margin-left: 44%;"></ion-spinner>
                        </ion-scroll>
                        <button class="button button-energized button-fab button-fab-bottom-right" ng-click="CrearTicket()">
                            <i class="icon ion-plus-round"></i>
                        </button>
                    </ion-content>
                </ion-content>


                </ion-view>


