<ion-view view-title="TRANSACCION EXISTOSA">
    <ion-content class="has-header"  padding="true" scroll="false" style="padding-left:20px; padding-right:20px;">
		<h3 style="color:#0f49a4; ">RECIBO</h3>
		<div class="list" style="height: 100%;">
			<label class="item item-input item-stacked-label" style=" border:none; margin: 5px;">
				<span class="input-label" style="color: #0f49a4;     "> PATENTE XYZA12</span>
			</label>
			<label class="item item-input item-stacked-label" style=" border:none; margin: 5px;">
			  	<span class="input-label" style="color: #0f49a4;     "> COD. AUTORIZACION 0000 12345 6789</span>
			</label>
			<label class="item item-input item-stacked-label" style=" border:none; margin: 5px;">
			  	<span class="input-label" style="color: #0f49a4;     "> BOLETA N 0001234567890</span>
			</label>
			<label class="item item-input item-stacked-label" style=" border:none;   margin: 5px; padding-right: 15px;">
				<span class="input-label" style="color: #0f49a4;     "> 07 | 01 | 2017</span>
				<span class="input-label" style="color: #0f49a4;     float: right; text-align: right;"> HORA 13:47 hrs</span>
			</label>
			<label class="item item-input item-stacked-label" style=" border:none; margin: 5px;">
				<span class="input-label" style="color: #0f49a4;     "> CALLE LOTA 12322</span>
			</label>
			<label class="item item-input item-stacked-label" style=" border:none; margin: 5px;">
				<span class="input-label" style="color: #0f49a4;     "> COMUNA PROVIDENCIA</span>
			</label>
			<br >
			 <label class="item item-input item-stacked-label" style=" border:none; margin: 5px;">
						<span class="input-label" style="color: #0f49a4;     "> TARJETA N XXXX-XXXX-1234</span>
					</label>
			<label class="item item-input item-stacked-label" style=" border:none; margin: 5px;">
						<span class="input-label" style="color: #0f49a4;     "> TRANSACCION N 0000000010</span>
					</label>
			<label class="item item-input item-stacked-label" style=" border:none; margin: 5px;">
						<span class="input-label" style="color: #0f49a4;     "> TIEMPO ESTACIONADO 46 MINS</span>
					</label>
			<label class="item item-input item-stacked-label" style=" border:none; margin: 5px;">
						<span class="input-label" style="color: #0f49a4;     "> VALOR PAGADO $ 800</span>
					</label>
					
			<div class="row col col-50 col-offset-25">
			<button class=" button button-balanced button-full LG" ng-click="entrar()" style="margin: 0px;">ENVIAR A EMAIL</button>
			</div>
		</div>
			
		
</div>
		
    </ion-content>
	
	<ion-footer-bar class="bar-calm bar-restaurant" style="padding: 0px;">
		<button class="button bar-restaurant button-block LG" ng-click="entrar()" style="margin: 0px;">Salir</button>
	</ion-footer-bar>
</ion-view>


