<ion-view view-title='Mi Perfil' class="fondo-view">
    <form name="form_login" class="">  
        <ion-content class=""  padding="true" scroll="true">
            <h3 style="font-weight: 700;    text-align: center;">MIS DATOS</h3>
            <div class="" >

                <div class="list">

                    <div  class="item item-icon-left item-icon-right no-padding " style="background: #fff;  border-radius: 25px; margin-top: 15px">
                        <i class="icon icon-user2l placeholder-icon" style="font-size: 16px; "></i>
                        <label class="item item-input  item-stacked-label " style="left:40px">
                            <span class="input-label" style="font-size: 10px">Nombre Completo {{form_login.$valid}}</span>
                            <input name="nombre" type="text" placeholder="Nombre"  ng-model="usuario.name" style="    font-size: 14px; height: 16px; font-size: 14px; width: 90%;background-color: rgba(240, 248, 255, 0);" required>
                        </label>
                        <i ng-if="form_login.nombre.$valid" class="icon ion-checkmark-round placeholder-icon" style="font-size: 16px; color: green "></i>
                        <i ng-if="!form_login.nombre.$valid" class="icon ion-close-round placeholder-icon" style="font-size: 16px; color: red "></i>
                    </div>

                    <div  class="item item-icon-left item-icon-right no-padding " style="background: #fff;  border-radius: 25px; margin-top: 15px">
                        <i class="icon icon-correo" style="font-size: 20px; "></i>
                        <label class="item item-input  item-stacked-label " style="left:40px">
                            <span class="input-label" style="font-size: 10px">Correo Eléctronico</span>
                            <input readonly name="correo" type="email" placeholder="Correo"  style="    font-size: 14px; height: 16px; background-color: white; width: 90%;background-color: rgba(240, 248, 255, 0);" ng-model="usuario.correo" required >
                        </label>
                        <i ng-if="form_login.correo.$valid" class="icon ion-checkmark-round placeholder-icon" style="font-size: 16px; color: green "></i>
                        <i ng-if="!form_login.correo.$valid" class="icon ion-close-round placeholder-icon" style="font-size: 16px; color: red "></i>

                    </div>

                    <div  class="item item-icon-left item-icon-right no-padding " style="background: #fff;  border-radius: 25px; margin-top: 15px">
                        <i class="icon icon-telefono2l" style="font-size: 16px; "></i>
                        <label class="item item-input  item-stacked-label " style="left:40px">
                            <span class="input-label" style="font-size: 10px">Telefono</span>
                            <input name="telefono" type="tel" placeholder="Telefono"  ng-model="usuario.telefono" style="    font-size: 14px; height: 16px; width: 90%;background-color: rgba(240, 248, 255, 0);" >
                        </label>
                        <i ng-if="form_login.telefono.$valid" class="icon ion-checkmark-round placeholder-icon" style="font-size: 16px; color: green "></i>
                        <i ng-if="!form_login.telefono.$valid" class="icon ion-close-round placeholder-icon" style="font-size: 16px; color: red "></i>

                    </div>










                </div>






            </div>


        </ion-content>
        <div class="bar bar-footer">


            <button class="button button-clear" ng-click="registrar()" ng-disabled="!form_login.$valid" style="background-color: #f1853B;color: white; max-width: none; width: 100%; font-weight: 700">
                Guardar
            </button>

        </div>
    </form>
</ion-view>


