<ion-view view-title="Emergencias">
	<div class="bar bar-subheader bar-calm-900 noBSho" style="padding-top:0px">
		<div class="button-bar">
		  <a class="button button-clear ion-eye colorWhite NoMaxWE" style="height: 44px;" ng-class="{activeSH:active==4}" ng-click="filtrar(4)"></a>
		  <a class="button button-clear ion-clock colorWhite NoMaxW"  style="height: 44px;"ng-class="{activeSH:active==1}"  ng-click="filtrar(1)"> </a>
		  <a class="button button-clear ion-settings colorWhite NoMaxW" style="height: 44px;" ng-class="{activeSH:active==2}" ng-click="filtrar(2)"> </a>
		  <a class="button button-clear ion-checkmark colorWhite NoMaxW" style="height: 44px;" ng-class="{activeSH:active==3}"  ng-click="filtrar(3)"></a>
		</div>
	</div>
    <ion-content class="subheaderM"  padding="false" scroll="false">
		<div class="item bar item-input-inset dark-bg noBSho">
            <label class="item-input-wrapper bgWhite">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar emergencia" ng-model="filtro">
            </label>
        </div>
        <div class="item bgWhite" ng-if="emergencias.length == 0">
            <div class="">
                <p class="" style="color:red;padding-left: 10px;">No hay emergencias solicitadas</p>
            </div>
        </div>
		<ion-content  class="has-header" scroll="false">
		 <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%;" ng-if="emergencias.length != 0" on-swipe-up="pagSig()">
            <div class="item" style="background-color:white!important;" ng-show="( emergencias | filter:filtro) == 0">
                <div class="">
                    <p class="" style="color:red;">No se encontraron resultados para su busqueda</p>
                </div>
            </div>
            <ion-list>
			  <a class="item item-icon-left" ng-repeat="emergencia in emergencias| filter:filtro" ng-if="emergencia.estado==active||active==4" ng-click="VerEmpergemcia(emergencia)" style="border-bottom: solid 1px #bbb;">
			  
					<i class="icon colorGris" ng-class="{'ion-clock':emergencia.estado==1,'ion-settings':emergencia.estado==2,'ion-checkmark':emergencia.estado==3}" style="font-size: xx-large;"></i>
					<h2>{{emergencia.nombre}}<span class="pull-right" style="font-size: 13px;    top: 5px;position: relative;">{{emergencia.create_at}} </span></h2>
					<span>Servicio solicitado: {{emergencia.servicio}} </span>
					
			  </a>
			</ion-list>
			<p ng-if="error">{{error}}</p>
            <ion-spinner icon="android" ng-if="mostrarC"></ion-spinner>
        </ion-scroll>
		</ion-content>
    </ion-content>
	
	
</ion-view>


