<ion-view view-title='<i class="icon icon-logopriority-1 logo-h" ></i>'>
    <div class="bar bar-subheader bar-assertive-900 noBSho" style="padding-top:0px">
		<label class="title" style="font-size: small;">Seleccione el vehiculo y el servicio a solicitar<label>
	</div>
	<ion-content class="has-subheader"  padding="false" scroll="false">
		<div class="item bar item-input-inset dark-bg noBSho">
            <label class="item-input-wrapper bgWhite">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar servicio" ng-model="filtro">
            </label>
        </div>
        <div class="item bgWhite" ng-if="servicios.length == 0">
            <div class="">
                <p class="" style="color:red;padding-left: 10px;">No hay servicios disponibles</p>
            </div>
        </div>
		<ion-content  class="has-header" scroll="false">
		 <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%;" ng-if="servicios.length != 0">
            <div class="item" style="background-color:white!important;" ng-show="( servicios | filter:filtro) == 0">
                <div class="">
                    <p class="" style="color:red;">No se encontraron resultados para su busqueda</p>
                </div>
            </div>
			<label class="item item-input item-select" style="border-bottom: none;">
				<div class="input-label">
				  <span class="button-clear icon ion-model-s colorGris" style="font-size: 18px;" ></span> Placa
				</div>
				<select ng-model="form.vehiculo" ng-options="obj as obj.placa for obj in usuario.polizas|orderBy:'placa':false">
                </select>
			</label>
			<div class="item" style="background-color:white!important;padding: 0px 0px 10px 20px;border-top: none;" >
                <div class="">
                    Vehiculo: {{form.vehiculo.marca}}-{{form.vehiculo.modelo}}, A&ntilde;o {{form.vehiculo.ano}}
                </div>
            </div>
            <div class="list">
				
					<ion-radio ng-model="form.servicioSel" class="item-content" ng-repeat="servicio in servicios| filter:filtro" 
					ng-value="{{servicio.id}}"><i class="icon {{servicio.clase}}  assertive btnser"></i> <span style="padding-left:30px">{{servicio.nombre}} </span>
					<a ng-if="((form.vehiculo.X>21 && servicio.id!=2)|| servicio.carrosUsaronServicio[form.vehiculo.placa])"><!--no disponible, debo llamar para activarlo--><i class="icon ion-ios-telephone assertive btn-LlamarS" ng-if="form.servicioSel==servicio.id"></i></a>
					<a ng-if="(form.vehiculo.X<21|| servicio.id==2)&& !servicio.carrosUsaronServicio[form.vehiculo.placa]"><!--disponible--></a>
					</ion-radio>
			</div>
        </ion-scroll>
		<button class="button button-assertive button-fab button-fab-bottom-right" ng-click="verificar();" ng-disable="form.servicioSel==null">
            <i class="icon ion-chevron-right"></i>
        </button>
		</ion-content>
    </ion-content>
</ion-view>


