
<ion-view view-title="Mapa">
  <ion-content id="cont" scroll="false">
	<div id="mapaD" data-tap-disabled="true" style="background-color: #eee;;width: 100%;"></div>
	<div style="padding-top: 5px;" ng-if="mostrar">
		 <ion-spinner icon="android"  style="margin-left: 45%;"></ion-spinner>
	</div>
	<div id="contEventos" class="eventos">
		<ion-list class="nearby-list" ng-if="cargo">
		  <ion-item class="item  item-thumbnail-left" style="padding-left: 100px;" type="item-text-wrap"
					ng-repeat="place in marcadores" ng-click="VerEvento(place)" >
			<img ng-src="{{place.img|| 'img/material-graphite.jpg'}}" style="border-radius: 0px;">
			  <h2>{{place.name}}</h2>
			  <p class="text-hint" style="padding-top: 5px;">
				<span class="label" >Tipo: {{place.tipoEvento}}.</span>
				<span><i class="icon ion-android-walk" style="font-size: large;"></i> {{ place.distancia.toFixed(2)}} Km</span>
			  </p>
			  <p style="padding-top: 5px;">
				{{ place.date.substring(0,16) }}
			  </p>
		  </ion-item>
		  <div class="item" style="background-color:white!important;" ng-if="marcadores.length==0">
			<div class="">
				<p class="" style="color:red;padding-left: 50px;">No existen eventos cercanos a su posicion...</p>
			</div>
		</div>
		</ion-list>
	</div>
  </ion-content>
</ion-view>
