<!-- START WIDGETS -->                    
<div class="row">
    <div class="col-md-12">

        <!--panel de Agregar-->

        <div class="vd_content-section clearfix" style="padding-top: 0px;padding-left: 0px">                                     


            <!--panel de para agregar los datos del nuevo cupons-->
            <form name="form">    
                <div class="panel widget light-widget panel-bd-top" id="PDatosCupon" style="display: none">
                    <div class="panel-body" style="color: gray">
                        <div class="col-lg-12">

                            <div class="panel-heading vd_bg-default">
                                <h3 class="colorLetra"> <span class="menu-icon"> <i class="fa fa-pencil-square-o"></i> </span>Datos del nuevo Cupon.</h3>
                                <div class="vd_panel-menu" style="    padding-right: 13px">
                                    <span class="vd_red">*</span> <span class="vd_red">Indica campos requeridos.</span>
                                </div>
                            </div>
                            <div class="panel-body" >
                                <form id="registrarC">
                                    <div class="row" >

                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Descripcion del Cupon*</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control" ng-model="ncupon.descripcion" required>
                                                    </div>                                            
                                                    <span class="help-block">Nombre del cupon</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Valor*</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control" ng-model="ncupon.valor" required>
                                                    </div>                                            
                                                    <span class="help-block">Email del cupon</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="mgtp-20">
                                        <div class="row mgbt-xs-0">
                                            <div class="col-xs-6"></div>
                                            <div class="col-xs-6 text-right">
                                                <button  type="reset" id="BtnCCupon" class="btn vd_btn btn-default" ng-click="BtnCupon(false)" style="color: #0E2145!important">
                                                    Cancelar <span class="menu-icon"><i class="fa fa-fw fa-times-circle"></i></span>
                                                </button>

                                                <button id="BtnGC" type="button" value="Enviar" class="btn vd_btn vd_bg-green"  ng-disabled="!form.$valid" ng-click="edit_or_update(ncupon);
                                                            BtnCupon(false)">
                                                    <!--top-right-success-->
                                                    Guardar <span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>

            <!--panel de tabla-->           
            <div class="row" id="Ptabla">
                <div class="col-md-12">
                    <div class="panel widget">
                        <div class="panel-heading vd_bg-grey">
                            <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span>Cupones.</h3>
                            <div class="vd_panel-menu">
                                <button  id="BtnCupon"  ng-click="BtnCupon(true)" class="btn  btn-success" type="button" data-original-title="Agregar Cupon" data-placement="bottom" data-toggle="tooltip" style="float: right; background: #113054; color: #fff; display: block;"><i class="fa fa-plus"></i></button>

                            </div>
                        </div>
                        <div class="panel-body table-responsive" style="padding: 15px;">
                            <table class="table table-striped" id="data-tables">
                                <thead>
                                    <tr>

                                        <th>Nombre</th>
                                        <th>Valor</th>

                                        <th>Estado</th>
                                        <th></th>
                                        <th style="display:none;"></th>  

                                    </tr>
                                </thead>
                                <tbody >                                                    
                                    <tr ng-repeat=" cupon in  cupons" style="color:black" >
                                        <td ng-hide="edit">{{cupon.descripcion}}</td>
                                        <td ng-hide="edit">{{cupon.valor}}</td>

                                        <td ng-hide="edit">{{cupon.estado==1?"Activo":"Inactivo"}}</td>
                                        <td style="text-align: center" ng-hide="edit"> 
                                            <button ng-if="false" class="btn btn-info opc-button" ng-click="edit = true"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button ng-if="cupon.estado == 1" class="btn btn-success opc-button" ng-click="estado(cupon)"><i class="glyphicon glyphicon-ok"></i></button>
                                            <button ng-if="cupon.estado == 0" class="btn btn-success opc-button "  style="background-color:gray" ng-click="estado(cupon)"><i class="fa fa-circle-o"></i></button>

                                            <button class="btn btn-danger opc-button" ng-click="eliminar(cupon)"><i class="glyphicon glyphicon-remove"></i></button>
                                        </td>
                                        <td ng-hide="!edit" colspan="5">
                                            <!--panel de para agregar los datos de la nueva cupons-->
                                            <form name="form">    
                                                <div class="panel widget light-widget panel-bd-top" id="PDatosCupon">
                                                    <div class="panel-body" style="color: gray">
                                                        <div class="col-lg-12">

                                                            <div class="panel-heading vd_bg-default">
                                                                <h3 class="colorLetra"> <span class="menu-icon"> <i class="fa fa-pencil-square-o"></i> </span>Datos del nuevo Cupon.</h3>
                                                                <div class="vd_panel-menu" style="    padding-right: 13px">
                                                                    <span class="vd_red">*</span> <span class="vd_red">Indica campos requeridos.</span>
                                                                </div>
                                                            </div>
                                                            <div class="panel-body" >
                                                                <form id="registrarC">
                                                                    <div class="row" >

                                                                        <div class="col-md-6">

                                                                            <div class="form-group">
                                                                                <label class="col-md-3 control-label">Nombre Completo *</label>
                                                                                <div class="col-md-9">                                            
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                                        <input type="text" class="form-control" ng-model="cupon.name" required>
                                                                                    </div>                                            
                                                                                    <span class="help-block">Nombre del empleado</span>
                                                                                </div>
                                                                            </div>



                                                                            <div class="form-group">
                                                                                <label class="col-md-3 control-label">Telefono*</label>
                                                                                <div class="col-md-9">                                            
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                                        <input type="email" class="form-control" ng-model="cupon.telefono" required>
                                                                                    </div>                                            
                                                                                    <span class="help-block">Email del cupon</span>
                                                                                </div>
                                                                            </div>






                                                                            <div class="form-group" >
                                                                                <label class="col-md-3 control-label">Tipo</label>
                                                                                <div class="col-md-6">                                                                                            

                                                                                    <div class="btn-group bootstrap-select form-control select">
                                                                                        <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Option 1">
                                                                                            <span class="filter-option " style="text-align: center; color: black; font-size: 16px" > {{cupon.tipo}} </span>&nbsp;
                                                                                            <span class="caret"></span>
                                                                                        </button>
                                                                                        <div class="dropdown-menu open">
                                                                                            <ul class="dropdown-menu inner selectpicker" role="menu">
                                                                                                <li rel="0" class="selected" >
                                                                                                    <a ng-click="ncupon.tipo = 'Empleado'" tabindex="0" class="item-ico-select" style="text-align: center; color: black; font-size: 16px">
                                                                                                        <span class="text"> Empleado</span>
                                                                                                        <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                                                                                    </a>

                                                                                                </li>
                                                                                                <li rel="0" class="selected" >

                                                                                                    <a ng-click="ncupon.tipo = 'Admin'" tabindex="0" class="item-ico-select" style="text-align: center; color: black; font-size: 16px">
                                                                                                        <span class="text"> Admin</span>
                                                                                                        <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                                                                                    </a>

                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <span class="help-block">Seleccione un tipo</span>
                                                                                </div>
                                                                            </div>




                                                                        </div>
                                                                        <div class="col-md-6">

                                                                            <div class="form-group">
                                                                                <label class="col-md-3 control-label">Email*</label>
                                                                                <div class="col-md-9">                                            
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                                        <input type="email" class="form-control" ng-model="cupon.email" required>
                                                                                    </div>                                            
                                                                                    <span class="help-block">Email del cupon</span>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label class="col-md-3 control-label">Password*</label>
                                                                                <div class="col-md-9">                                            
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                                        <input type="password" class="form-control" ng-model="cupon.password" required>
                                                                                    </div>                                            
                                                                                    <span class="help-block">Clave  del cupon</span>
                                                                                </div>
                                                                            </div>





                                                                        </div>

                                                                    </div>

                                                                    <div class="mgtp-20">
                                                                        <div class="row mgbt-xs-0">
                                                                            <div class="col-xs-6"></div>
                                                                            <div class="col-xs-6 text-right">
                                                                                <button  type="reset" id="BtnCCupon" class="btn vd_btn btn-default" ng-click="edit = false" style="color: #0E2145!important">
                                                                                    Cancelar <span class="menu-icon"><i class="fa fa-fw fa-times-circle"></i></span>
                                                                                </button>

                                                                                <button id="BtnGC" type="button" value="Enviar" class="btn vd_btn vd_bg-green"  ng-disabled="!form.$valid" ng-click="edit_or_update(cupon);
                                                                edit = false">
                                                                                    <!--top-right-success-->
                                                                                    Guardar <span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>
                                                                                </button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                            </form> 

                                        </td>  

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>






            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="padding-top: 0px !important; padding-left: 0px !important; padding-right: 0px !important; ">
                            <div class="panel widget panel-bd-top vd_todo-widget light-widget">
                                <div class="panel-body">
                                    <h3 class="mgbt-xs-20"> <span class="append-icon"> <i class="fa  vd_green"></i> </span> <span id="Mtitulo"></span></h3>
                                    <div class="vd_panel-menu">
                                        <button class="close" data-dismiss="modal" aria-hidden="true" type="button" data-original-title="Cerrar" data-placement="bottom" data-toggle="tooltip"><i class="fa fa-times"></i> </button>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Nombre:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="nombreCat"></label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Descripcion:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="descripcionCat"></label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Imagen:</label> 
                                            </div>
                                            <div class="col-xs-6" style="    padding-bottom: 10px;padding-left: 30px;"> 
                                                <img  WIDTH=50 HEIGHT=50 id='img' > 
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Fecha de Creaci&oacute;n:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="fechaC"></label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">&Uacute;ltima modificaci&oacute;n:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="fechaM"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="padding-top: 0px !important; padding-left: 0px !important; padding-right: 0px !important; ">
                            <div class="panel widget panel-bd-top vd_todo-widget light-widget">
                                <div class="panel-body">
                                    <h3 class="mgbt-xs-20"> <span class="append-icon"> <i class="fa  vd_green"></i> </span> <span id="Mtitulo"></span></h3>
                                    <div class="vd_panel-menu">
                                        <button class="close" data-dismiss="modal" aria-hidden="true" type="button" data-original-title="Cerrar" data-placement="bottom" data-toggle="tooltip"><i class="fa fa-times"></i> </button>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="form-img text-center mgbt-xs-15"> <img  WIDTH=200 HEIGHT=160 id='img' > </div>
                                            <br>
                                            <div>
                                                <table class="table table-striped table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:60%;">Nombre</td>
                                                            <td><span id="Mnombre"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:60%;">Descripcion</td>
                                                            <td><span id="Mdescripcion"></span></td>
                                                        </tr>

                                                        <tr>
                                                            <td style="width:60%;">Status</td>
                                                            <td><span class="label label-success">Active</span></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>
        </div>   

    </div>
</div>

<!-- START DASHBOARD CHART -->