<section class="content">
    <section class="invoice"  style="background: white;margin:0px;">
        <div id="print">

            <div class="row" style="border-bottom: 1px solid #eee;">
                <div class="col-xs-6">
                    <h2 class="page-header" style="margin: 10px 0 10px;border:none">
                        <small class="" >Fecha de Compra: {{getFecha(factura.created_at)|date : "dd-MM-yy"}}</small>
                    </h2>
                </div>
				<div class="col-xs-6 no-print" style="padding: 10px;">
					<button type="button" class="btn btn-primary pull-right" ng-click="print()" style="margin-right: 5px;">
						<i class="fa fa-download"></i> Generar PDF
					</button>
					<button ng-show="mostrar" type="button" class="btn btn-primary pull-right" ng-click="mostrarOpciones(false,null)"  style="margin-right: 5px;">
						<i class="fa fa-eye"></i> Mostrar detalles
					</button>
					<button ng-show="mostrarDetalles&&factura.estado==3" type="button" class="btn btn-primary pull-right" ng-click="mostrarOpciones(true,1)" style="margin-right: 5px;">
						<i class="fa fa-truck"></i> Despachar
					</button>
					<button ng-show="mostrarDetalles&&(factura.estado==4||factura.estado==5||factura.estado==6)" type="button" class="btn btn-primary pull-right" ng-click="mostrarOpciones(true,2)" style="margin-right: 5px;">
						<i class="fa fa-truck"></i> Rastreo
					</button>
					<button ng-show="mostrarDetalles&&factible()" ng-click="abrirConfirm()" type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
						<i class="fa fa-truck"></i> Cancelar Envio
					</button>
				</div>
                <!-- /.col -->
            </div>
			<div ng-show="mostrarDetalles">
            <!-- info row -->
				<div class="row invoice-info" style="padding-top:10px">
					<div class="col-sm-4 invoice-col"  >
						DATOS DEL CLIENTE
						<address>
							<strong>Nombre:</strong> {{factura.getcliente.name|| 'No posee'}}<br>
							<strong>Telefono:</strong> {{factura.getcliente.telefono || 'No posee'}}<br>
							<strong>Correo:</strong> {{factura.getcliente.correo|| 'No posee'}}<br>
							<strong>Credito disponible:</strong> {{factura.getcliente.creditoCupon| currency:"$"}}<br>
						</address>
					</div>
					<!-- /.col -->
					<div class="col-sm-4 invoice-col" >
						DATOS DE LA ORDEN
						<address>
							<strong>C&oacute;digo:</strong> #00{{factura.idFactura}}<br>
							<strong>Estado:</strong>
							<label ng-if="factura.estado == 3" style="margin:0px">Por despachar</label>
							<label ng-if="factura.estado == 4" style="margin:0px">Despachada (Camino al almacen)</label>
							<label ng-if="factura.estado == 5" style="margin:0px">Despachada (Camino al cliente)</label>
							<label ng-if="factura.estado == 6" style="margin:0px">Entregada</label><br>
							<strong>Fecha de compra:</strong> {{getFecha(factura.created_at)|date : "dd-MM-yy"}}<br>
							<strong>Direcci&oacute;n de entrega:</strong> {{factura.direccion.texto}}<br>
						</address>
					</div>

					<!-- /.col -->
					<div class="col-sm-4 invoice-col">
						DATOS DE LA EMPRESA
						<address>
							<strong>Nombre:</strong> CHELA PLUS<br>
							<strong>Telefono:</strong> (555) 539-1037<br>
							<strong>Correo:</strong> ohn.doe@example.com<br>
						</address>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->

            <!-- Table row -->
			
				<div class="row">
					<div class="col-xs-12 table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Producto</th>
									<th>Presentacion</th>
									<th>Cantidad</th>
									<th>Costo</th>
									<th>Descuento</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="detalle in factura.detalles">
									<td>{{detalle.getproducto.nombre}}</td>
									<td>{{detalle.getpresentacion.presentacion}}</td>
									<td>{{detalle.cantidad}}</td>
									<td>{{detalle.precio |currency:"$"}}</td>
									<td>{{detalle.valorDescuento|currency:"$"}}</td>
									<td>{{(detalle.cantidad*detalle.precio)|currency:"$"}}</td> 
								</tr>

							</tbody>
						</table>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->

				<div class="row">
					<!-- accepted payments column -->
					<div class="col-xs-4" ng-if="factura.paypal>0||factura.directo>0||factura.directoTarjeta>0" style="float: left;">
						<div class="table-responsive">
							<p class="lead">M&eacute;todos de Pago:</p>
							<table class="table table-s">
								<tbody>
									<tr ng-if="factura.paypal>0">
										<th>Via Paypal:</th>
										<td>{{factura.paypal|currency:"$"}}</td>
									</tr>
									<tr ng-if="factura.directoTarjeta>0">
										<th>Via tarjeta (directo):</th>
										<td>{{factura.directoTarjeta|currency:"$"}}</td>
									</tr>
									<tr ng-if="factura.directo>0">
										<th>Efectivo:</th>
										<td>{{factura.directo|currency:"$"}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /.resumen -->
					<div class="col-xs-4" style="float: right;">
						<div class="table-responsive">
							<p class="lead">Resumen de la Orden:</p>
							<table class="table table-s" >
								<tbody>
									<tr >
										<th style="width:50%" style="background: #FFF">Subtotal:</th>
										<td>{{(factura.subTotal)|currency:"$"}}</td>
									</tr>
									<tr>
										<th>Envio:</th>
										<td>{{factura.envio|currency:"$"}}</td>
									</tr>
									<tr ng-if="factura.descuento > 0">
										<th>Descuento:</th>
										<td>-{{factura.descuento |currency:"$"}}</td>
									</tr>
									<tr ng-if="(factura.totalCredito+factura.totalCupones) > 0">
										<th>Cupones</th>
										<td>- {{(factura.totalCredito+factura.totalCupones)|currency:"$"}}</td>
									</tr>
									<tr>
										<th>Total:</th>
										<td>{{factura.total|currency:"$"}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xs-4" ng-if="(factura.totalCredito+factura.totalCupones)>0" style="float: left;">
						
						<div class="table-responsive">
							<p class="lead">Cupones:</p>
							<table class="table table-s">
								<tbody>
									<tr ng-repeat="cupon in factura.cupones">
										<th>{{cupon.nombre}}:</th>
										<td>-{{cupon.pivot.montoPagado|currency:"$"}}</td>
									</tr>
									<tr ng-if="factura.totalCredito>0">
										<th>Cup&oacute;n personal:</th>
										<td>-{{factura.totalCredito|currency:"$"}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
				<!-- /.row -->
			</div>
			
			<div  class="row" ng-show="mostrar" class="invoice-info" style="padding-bottom:20px" id="tracking">
				<div class="row">
					<div class="col-xs-6">
						<h2 class="page-header" style="margin: 0px;border: none;padding-top: 5px;padding-left:20px">
							<small class="ng-binding" ng-if="opcionTracking==1">Despachar Orden</small>
							<small class="ng-binding" ng-if="opcionTracking==2">Rastreo de la orden</small>
						</h2>
					</div>
					<!-- /.col -->
				</div>
				<div ng-show="opcionTracking==1">
					<form name="formEnvio" novalidate>
						<!-- panel para seleccionar el almacen -->
						<div class="col-md-6 col-sm-6 col-lg-6" id="panelMapaAlmacen" style="margin:0px;">
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-12 col-sm-12 col-lg-12" style="padding-bottom:0px;margin:0px">
									Seleccione el almacen que proveera los productos:
									<br><span  style="font-weight: normal;">{{almacenes.length}} almacenes disponibles.</span>
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12" style="margin-top: 10px;">
								<div id="mapaDelAlmacen" style="height: 300px;background-color: #eee;">
									<div ng-if="noMapa" style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-err-container"><div class="gm-err-content"><div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;"></div><div class="gm-err-title">Se ha producido un error.</div><div class="gm-err-message">Esta página no ha cargado Google Maps correctamente. Por favor verifique su conexion a internet.</div></div></div></div>
								</div>
							</div>
						</div>
						
						<!-- panel para seleccionar la forma de envio -->
						<div class="col-md-6 col-sm-6 col-lg-6"  id="panelMapaPedido" style="margin:0px;border-left: solid 1px;">
							<div class="col-md-12 col-sm-12 col-lg-12" style="padding:0px;">
								<label class="col-md-4 col-sm-4 col-lg-4" style="padding-bottom:0px">
									Enviar Por:
								</label>
								<label class="radio-inline col-md-4 col-sm-4 col-lg-4">
									<input type="radio" name="formaEnv" id="ck1" ng-model="envio.empresa" ng-value="{id:1,name:'Ivoy'}" ng-click="envioIvoy()" required>Ivoy
								</label>
								<label class="radio-inline col-md-4 col-sm-4 col-lg-4" style="margin:0px">
									<input type="radio" name="formaEnv" id="ck2" ng-model="envio.empresa" ng-value="{id:2,name:'Medios propios',motorizado:null}" ng-click="envioPropio()" required>Medios propios
								</label>
							</div> 
							<div class="col-md-12 col-sm-12 col-lg-12"  style="margin-top: 20px;">
								<div id="mapaDelPedido" ng-show="(envio.empresa==null||envio.empresa.id==2)" style="height: 300px;background-color: #eee;">
									<div ng-if="noMapa" style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-err-container"><div class="gm-err-content"><div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;"></div><div class="gm-err-title">Se ha producido un error.</div><div class="gm-err-message">Esta página no ha cargado Google Maps correctamente. Por favor verifique su conexion a internet.</div></div></div></div>
								</div>
								<div ng-if="envio.empresa.id==1" style="position:relative; top:-300px">
									imagen o algo de ivoy
								</div>
							</div>
						</div>
						<!-- panel para mostrar otros datos -->
						<div class="col-md-12 col-sm-12 col-lg-12" style="margin-top:20px">
							<h2 class="page-header" style="margin: 0px;border: none;margin-top: -15px;padding-left:20px">
								<small class="ng-binding" >Datos del envio</small>
							</h2>
							<div class="col-md-6 col-sm-6 col-lg-6">
								<label class="col-md-6 col-sm-6 col-lg-6">
									Almacen seleccionado:
								</label>
								<label class="col-md-6 col-sm-6 col-lg-6" style="font-weight: normal;">
									<p ng-if="envio.almacen&&envio.almacen.direccion.length>27" style="margin:0px">
										{{envio.almacen.nombre+'-'+envio.almacen.direccion.substring(0,27) }}...
									</p>
									<p ng-if="envio.almacen&&envio.almacen.direccion.length<27" style="margin:0px">
										{{envio.almacen.nombre+'-'+envio.almacen.direccion}}
									</p>
									<p ng-if="!envio.almacen" style="margin:0px" >No se ha seleccionado el almacen</p>
								</label>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6">
								<label class="col-md-6 col-sm-6 col-lg-6">
									Distancia lineal del almacen al pedido
								</label>
								<label class="col-md-6 col-sm-6 col-lg-6" style="font-weight: normal;">
									{{envio.almacen.distancia.toFixed(2)||'0'}} Km.
								</label>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6">
								<label class="col-md-6 col-sm-6 col-lg-6">
									Envio por:
								</label>
								<label class="col-md-6 col-sm-6 col-lg-6" style="font-weight: normal;" >
									{{envio.empresa.name||'No se ha seleccionado una empresa'}}
								</label>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6" style="height:22px"></div>
							<div ng-if="envio.empresa.id==2">
								<label class="col-md-12 col-sm-12 col-lg-12" style="font-weight: normal;padding-left:20px">
									<h2 class="page-header" style="margin: 0px;border: none;padding: 0px;font-size: 20px;">
										<small class="ng-binding">Datos del motorizado</small>
									</h2>
								</label>
								<div class="col-md-6 col-sm-6 col-lg-6">
									<label class="col-md-6 col-sm-6 col-lg-6">
										Nombre:
									</label>
									<label class="col-md-6 col-sm-6 col-lg-6" style="font-weight: normal;">
										<span ng-if="envio.empresa.motorizado">
											{{envio.empresa.motorizado.name+' C.I: '+envio.empresa.motorizado.dni}}
										</span>
										<span ng-if="!envio.empresa.motorizado">
											Seleccione un motorizado
										</span>
									</label>
								</div>
								<div class="col-md-6 col-sm-6 col-lg-6">
									<label class="col-md-6 col-sm-6 col-lg-6">
										Informaci&oacute; de Contacto:
									</label>
									<label class="col-md-6 col-sm-6 col-lg-6" style="font-weight: normal;">
										Tlf: {{envio.empresa.motorizado.telefono||'No disponible'}}. {{envio.empresa.motorizado.email||''}}
									</label>
								</div>
								<div class="col-md-6 col-sm-6 col-lg-6" ng-if="envio.empresa.motorizado">
									<label class="col-md-6 col-sm-6 col-lg-6">
										Distancia lineal del motorizado al almacen
									</label>
									<label class="col-md-6 col-sm-6 col-lg-6" style="font-weight: normal;">
										{{envio.empresa.motorizado.distancia.toFixed(2)||'0'}} Km.
									</label>
								</div>
								<div class="col-md-6 col-sm-6 col-lg-6" ng-if="envio.empresa.motorizado">
									<label class="col-md-6 col-sm-6 col-lg-6">
										Distancia total del recorrido (lineal):
									</label>
									<label class="col-md-6 col-sm-6 col-lg-6" style="font-weight: normal;">
										{{(envio.empresa.motorizado.distancia+envio.almacen.distancia).toFixed(2)}} Km.
									</label>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<button type="button" class="btn btn-primary pull-right" ng-disabled="envio.almacen==null||envio.empresa==null||(envio.empresa.id==2&&envio.empresa.motorizado==null)" ng-click="guardarEnvio()">
									<i class="fa fa-check"></i> Guardar datos
								</button>
								<button type="button" class="btn btn-primary pull-right"  ng-click="mostrarOpciones(false,2)" style="margin-right: 10px;">
									<i class="fa fa-times"></i> Cancelar
								</button>
							</div>
						</div>
					</form>
				</div>
				<div ng-show="opcionTracking==2">
					<div class="col-md-6 col-sm-6 col-lg-6"  id="panelMapaRastreo" style="margin:0px;border-left: solid 1px;"> 
						<div class="col-md-12 col-sm-12 col-lg-12">
							<div id="MapaRastreo" style="height: 400px;background-color: #eee;">
								<div ng-if="noMapa" style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-err-container"><div class="gm-err-content"><div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;"></div><div class="gm-err-title">Se ha producido un error.</div><div class="gm-err-message">Esta página no ha cargado Google Maps correctamente. Por favor verifique su conexion a internet.</div></div></div></div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-lg-6"  style="margin:0px;border-left: solid 1px;height:395px"> 
							<h2 class="page-header" style="margin: 0px;border: none;padding: 0px;font-size: 20px;margin-left: 20px;">
								<small class="ng-binding">Datos del pedido</small>
							</h2>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									C&oacute;digo:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									#00{{factura.idFactura}}
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									Direcci&oacute;n de entrega:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									{{factura.direccion.texto}}
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									Referencias:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									{{factura.referencias}}
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									Despachado por:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									{{factura.getoperador.name}}
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									Estado del envio:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									<label style="margin:0px;;font-weight:normal">{{estados[factura.estado]}}</label>
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12" style="height:20px"></div>
							<h2 class="page-header" style="margin: 0px;border: none;padding: 0px;font-size: 20px;margin-left: 20px;">
								<small class="ng-binding">Datos del almacen</small>
							</h2>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									{{factura.getalmacen.nombre}}:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									<p style="margin:0px">
										{{factura.getalmacen.direccion}}
									</p>
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12" style="height:22px"></div>
							<label class="col-md-12 col-sm-12 col-lg-12" style="font-weight: normal;padding-left:20px">
								<h2 class="page-header" style="margin: 0px;border: none;padding: 0px;font-size: 20px;">
									<small class="ng-binding">Datos del motorizado</small>
								</h2>
							</label>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									Nombre:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									{{factura.getmotorizado[0].name+' C.I: '+factura.getmotorizado[0].dni}}
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									Informaci&oacute; de Contacto:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									Tlf: {{factura.getmotorizado[0].telefono||'No disponible'}}. {{factura.getmotorizado[0].email||''}}
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									Distancia del recorrido:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									{{(factura.distancia_envio).toFixed(2)}} Km.
								</label>
							</div>
							<div class="col-md-12 col-sm-12 col-lg-12">
								<label class="col-md-4 col-sm-4 col-lg-4">
									Tiempo de llegada:
								</label>
								<label class="col-md-8 col-sm-8 col-lg-8" style="font-weight: normal;">
									{{(factura.tiempoEnvio).toFixed(2)}} Min.
								</label>
							</div>
							<button ng-if="!mostrarDetalles&&(factura.estado==4||factura.estado==5)" ng-click="modificarEnvio()" type="button" 
							class="btn btn-primary pull-right" style="position: absolute;bottom: 0px;right: 20px;">
								<i class="fa fa-edit"></i> Modificar Datos
							</button>
					</div>
				</div>
			</div>
        </div>
    </section>   
		<!-- danger with sound -->
        <div class="message-box {{error.class}} animated fadeIn" data-sound="fail" id="alertError">
            <div class="mb-container" style="width: 50%;left: 25%;">
                <div class="mb-middle" style="width: 100%;left: 0%;">
                    <div class="mb-title"><span class="fa {{error.icono}}"></span> {{error.titulo}}</div>
                    <div class="mb-content">
                        <p>{{error.mensaje}}</p>                    
                    </div>
                    <div class="mb-footer">
                        <button class="btn btn-default btn-lg pull-right mb-control-close" ng-click="cerraAlert()">cerrar</button>
                    </div>
                </div>
            </div>
        </div>
		<div class="message-box message-box-warning animated fadeIn" id="confirmCancelar">
           <div class="mb-container" style="width: 50%;left: 25%;">
                <div class="mb-middle" style="width: 100%;left: 0%;">
                    <div class="mb-title"><span class="fa fa-warning"></span> Precauci&oacute;n</div>
                    <div class="mb-content">
                        <p>&iquest;Est&aacute;s seguro que desea cancelar la orden?</p>                    
                        <p>Esto cancelara el envio de la misma (si ya se inisio) y desbloquera los productos de la orden para la venta.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a class="btn btn-success btn-lg" ng-click="cancelarOrden()">Si</a>
                            <button class="btn btn-default btn-lg mb-control-close" ng-click="cerrarConfirm()">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>

