<!-- START WIDGETS -->                    
<div class="row">
    <div class="col-md-12">

        <!--panel de Agregar-->

        <div class="vd_content-section clearfix" style="padding-top: 0px;padding-left: 0px">                                     


            <!--panel de para agregar los datos de la nueva productos-->
            <form name="form">    
                <div class="panel widget light-widget panel-bd-top" id="PDatosProducto" >
                    <div class="panel-body" style="color: gray">
                        <div class="col-lg-12">

                            <div class="panel-heading vd_bg-default">
                                <h3 class="colorLetra"> <span class="menu-icon"> <i class="fa fa-pencil-square-o"></i> </span>Datos de su Empresa.</h3>
                                <div class="vd_panel-menu" style="    padding-right: 13px">
                                    <span class="vd_red">*</span> <span class="vd_red">Indica campos requeridos.</span>
                                </div>
                            </div>
                            <div class="panel-body" >
                                <form id="registrarC">
                                    <div class="row" >

                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Nombre*</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control" ng-model="datos.nombre" required>
                                                    </div>                                            
                                                    <span class="help-block">Nombre de la Empresa</span>
                                                </div>
                                            </div>

										</div>
										 <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">RFC*</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control" ng-model="datos.rif" required>
                                                    </div>                                            
                                                    <span class="help-block">RFC de la empresa</span>
                                                </div>
                                            </div>

										</div>
										 <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Estado*</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control" ng-model="datos.estado" required>
                                                    </div>                                            
                                                    <span class="help-block">Estado donde se ubica la empresa</span>
                                                </div>
                                            </div>

										</div>
										 <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Ciudad*</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control" ng-model="datos.ciudad" required>
                                                    </div>                                            
                                                    <span class="help-block">Ciudad donde se ubica la empresa</span>
                                                </div>
                                            </div>

										</div>
										 <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Telefono*</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control" ng-model="datos.telefono" required>
                                                    </div>                                            
                                                    <span class="help-block">Telefono la empresa</span>
                                                </div>
                                            </div>

										</div>
										<div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Direccion*</label>
                                                <div class="col-md-9">                                            
                                                   
                                                       
                                                        <textarea  class="form-control" ng-model="datos.direccion" required></textarea>
                                                                                               
                                                    <span class="help-block">Direccion concreta de la empresa</span>
                                                </div>
                                            </div>

										</div>
										 
										 

                                    </div>

                                    <div class="mgtp-20">
                                        <div class="row mgbt-xs-0">
                                            <div class="col-xs-6"></div>
                                            <div class="col-xs-6 text-right">
                                               

                                                <button id="BtnGC" type="button" value="Enviar" class="btn vd_btn vd_bg-green"  ng-disabled="!form.$valid" ng-click="edit_or_update(datos); ">
                                                    <!--top-right-success-->
                                                    Guardar <span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
			
			
		
           
			
			






            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="padding-top: 0px !important; padding-left: 0px !important; padding-right: 0px !important; ">
                            <div class="panel widget panel-bd-top vd_todo-widget light-widget">
                                <div class="panel-body">
                                    <h3 class="mgbt-xs-20"> <span class="append-icon"> <i class="fa  vd_green"></i> </span> <span id="Mtitulo"></span></h3>
                                    <div class="vd_panel-menu">
                                        <button class="close" data-dismiss="modal" aria-hidden="true" type="button" data-original-title="Cerrar" data-placement="bottom" data-toggle="tooltip"><i class="fa fa-times"></i> </button>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Nombre:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="nombreCat"></label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Descripcion:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="descripcionCat"></label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Imagen:</label> 
                                            </div>
                                            <div class="col-xs-6" style="    padding-bottom: 10px;padding-left: 30px;"> 
                                                <img  WIDTH=50 HEIGHT=50 id='img' > 
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Fecha de Creaci&oacute;n:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="fechaC"></label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">&Uacute;ltima modificaci&oacute;n:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="fechaM"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="padding-top: 0px !important; padding-left: 0px !important; padding-right: 0px !important; ">
                            <div class="panel widget panel-bd-top vd_todo-widget light-widget">
                                <div class="panel-body">
                                    <h3 class="mgbt-xs-20"> <span class="append-icon"> <i class="fa  vd_green"></i> </span> <span id="Mtitulo"></span></h3>
                                    <div class="vd_panel-menu">
                                        <button class="close" data-dismiss="modal" aria-hidden="true" type="button" data-original-title="Cerrar" data-placement="bottom" data-toggle="tooltip"><i class="fa fa-times"></i> </button>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="form-img text-center mgbt-xs-15"> <img  WIDTH=200 HEIGHT=160 id='img' > </div>
                                            <br>
                                            <div>
                                                <table class="table table-striped table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:60%;">Nombre</td>
                                                            <td><span id="Mnombre"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:60%;">Descripcion</td>
                                                            <td><span id="Mdescripcion"></span></td>
                                                        </tr>

                                                        <tr>
                                                            <td style="width:60%;">Status</td>
                                                            <td><span class="label label-success">Active</span></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>
        </div>   

    </div>
</div>

<!-- START DASHBOARD CHART -->