
            
        
                
                                                       
                
                <!-- START CONTENT FRAME -->
                <div class="content-frame">   
                    
                    <!-- START CONTENT FRAME TOP -->
                    <div class="content-frame-top">                        
                        <div class="page-title">                    
                            <h2><span class="fa fa-image"></span> Historial</h2>
                        </div>                                      
                                                
                    </div>
                    
                   
                
                    <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body content-frame-body-left">
                        
                        
                        <div class="gallery" id="links" ng-repeat="hist in historial">
                             
                            <div class="pull-left push-up-10">
                                <h3>Precio {{hist.valor | number: 2}}</h3>
                        </div>
                        <div class="pull-right push-up-10">
                                <h3>Fecha {{hist.created_at}}</h3>             
                        </div>
                            <br>
                            <a  ng-repeat="imagen in hist.imagenes" class="gallery-item" href="{{r(imagen.imagen)}}" title="{{imagen.nombre}}" data-gallery>
                                <div class="image" style="max-width: 300Px; max-height: 300px;">                              
                                    <img ng-src="{{r(imagen.imagen)}}" alt="{{imagen.nombre}}"/>                                        
                                                                                                    
                                </div>
                                <div class="meta">
                                    <strong>{{imagen.nombre}}</strong>
                                   
                                </div>                                
                            </a>

                                                   
                             
                        </div>
                             
                        <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
                            <li  ng-class="{disabled: !prev}"  ng-click="cambiar_pagina(prev)"><a>«</a></li>
                            <li ng-repeat="page in pages" ng-class="{active: page.active}"  ng-click="cambiar_pagina(page.url)"><a >{{page.n}}</a></li>
                                                           
                            <li ng-class="{disabled: !next_url}" ng-click="cambiar_pagina(next_url)"><a ng-click="cambiar_pagina(next_url)">»</a></li>
                        </ul>
                    </div>       
                    <!-- END CONTENT FRAME BODY -->
                </div>               
                <!-- END CONTENT FRAME -->
                                
                
            
        </div>
        <!-- END PAGE CONTAINER -->
        
        <!-- BLUEIMP GALLERY -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>      
        <!-- END BLUEIMP GALLERY -->
        
        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

      
