<!-- START WIDGETS -->                    
<div class="row">
    <div class="col-md-12">

        <!--panel de Agregar-->

        <div class="vd_content-section clearfix" style="padding-top: 0px;padding-left: 0px">                                     
            <!--panel de tabla-->           
            <div class="row" id="Ptabla">
                <div class="col-md-12">
                    <div class="panel widget">
                        <div class="panel-heading vd_bg-grey">
                            <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span>Ordenes.</h3><br>


                            <div class="form-group" style="float: right">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Buscar... " type="text" ng-model="filter.$">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="float:right" ng-hide="true">     
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input id="dp-3" class="form-control" value="06-06-2014" data-date="06-06-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years" type="text">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body table-responsive" style="padding: 15px;">
                            <table class="table table-striped" id="data-tables" ng-init="col_ord='idFactura'; rev=false">
                                <thead>
                                    <tr>

                                        <th ng-click="order_by('idFactura')">Numero</th>
                                        <th ng-click="order_by('getcliente.name')">Cliente</th>
                                        <th>Forma de Pago</th>
                                        <th ng-click="order_by('total')">Total</th>
                                        <th ng-click="order_by('estado')">Estado</th>
                                        <th></th>
                                        <th style="display:none;"></th>  

                                    </tr>
                                </thead>
                                <tbody >                                                    
                                    <tr ng-repeat=" orden in  ordens|filter: filter|orderBy:col_ord:rev" style="color:black" >

                                        <td ng-hide="edit" ng-click="">{{orden.idFactura}}</td>
                                        <td ng-hide="edit">{{orden.getcliente.name}}</td>
                                        <td ng-hide="edit">{{orden.paypal>0&&orden.directo>0?"Mixto":orden.directo>0?"Contraenvio":"Electronico"}}</td>
                                        <td ng-hide="edit">{{orden.total|currency:"$"}}</td>
                                        <td ng-hide="edit">{{estados[orden.estado]}}</td>
                                        <td style="text-align: center" ng-hide="edit"> 
                                            <a class="btn btn-info opc-button" href="#/factura" ng-click="ver_factura(orden)"><i class="fa fa-eye"></i></a>
                                        </td>
                                        <td ng-hide="!edit" colspan="5">

                                        </td>  
                                    </tr>
                                </tbody>
                            </table>
                            <div class="bottom" ng-if="ordens.length != 0" style="padding-bottom: 50px;padding-left: 10px;">
                                <div class="dataTables_info" id="table-cl_info" role="status" aria-live="polite">Mostrando {{p.page * p.sel_page}} - {{p.sel_page * (p.page + 1)}} de {{(ordens| filter: filter).length}} Registros</div>
                                <div class="dataTables_paginate paging_simple_numbers" id="table-cl_paginate">
                                    <ul class="pagination"> 
                                        <li class="paginate_button previous " aria-controls="table-cl" tabindex="0" id="table-cl_previous"><a ng-show="p.page > 0" ng-click="p.page = p.page - 1"><i class="fa fa-arrow-circle-left" data-toggle="tooltip" title="" data-original-title="Anterior"></i></a></li>
                                        <li class="paginate_button next " aria-controls="table-cl" tabindex="0" id="table-cl_next"><a ng-show="(p.sel_page * (p.page+1) < (ordens | filter: filter).length) || next != null" ng-click="change_page((p.sel_page * (p.page + 1) < (ordens | filter: filterX).length))"><i class="fa fa-arrow-circle-right" data-toggle="tooltip" title="Siguiente"></i></a></li>
                                    </ul>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>






       
        </div>   

    </div>
</div>

<!-- START DASHBOARD CHART -->