<!-- START WIDGETS -->                    
<div class="row">
    <div class="col-md-12">

        <!--panel de Agregar-->

        <div class="vd_content-section clearfix" style="padding-top: 0px;padding-left: 0px">                                     


            <!--panel de para agregar los datos de la nueva productos-->
            <form name="form_nproducto">    
                <div class="panel widget light-widget panel-bd-top" id="PDatosProducto" style="display: none">
                    <div class="panel-body" style="color: gray">
                        <div class="col-lg-12">

                            <div class="panel-heading vd_bg-default">
                                <h3 class="colorLetra"> <span class="menu-icon"> <i class="fa fa-pencil-square-o"></i> </span>Datos de un nuevo Producto.</h3>
                                <div class="vd_panel-menu" style="    padding-right: 13px">
                                    <span class="vd_red">*</span> <span class="vd_red">Indica campos requeridos.</span>
                                </div>
                            </div>
                            <div class="panel-body" >

                                <div class="row" >

                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Nombre*</label>
                                            <div class="col-md-9">                                            
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    <input type="text" class="form-control" ng-model="nproducto.nombre" required>
                                                </div>                                            
                                                <span class="help-block">Nombre del producto</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Descripci&oacute;n*</label>
                                            <div class="col-md-9 col-xs-12">                                            
                                                <textarea class="form-control" rows="5" ng-model="nproducto.descripcion" required></textarea>
                                                <span class="help-block">Descripci&oacute;n del producto</span>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" >
                                            <label class="col-md-3 control-label">Categoria</label>
                                            <div class="col-md-9">                                                                                            
                                                <div class="btn-group bootstrap-select form-control select">
                                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="{{nproducto.categoria?nproducto.categorian:"Ninguna"}}">
                                                        <span class="filter-option pull-left">{{nproducto.categoria?nproducto.categorian:"Ninguna"}}</span>&nbsp;<span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu open">
                                                        <ul class="dropdown-menu inner selectpicker" role="menu">

                                                            <li rel="0" class="selected" ng-repeat=" categoria in  categorias">
                                                                <a tabindex="0" class="" style="" ng-click="nproducto.categoria = categoria.idCategoria;
                                                                                nproducto.categorian = categoria.nombre">
                                                                    <span class="text">{{categoria.nombre}}</span>
                                                                    <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <span class="help-block">Seleccione una producto si posee</span>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                                <div class="mgtp-20">
                                    <div class="row mgbt-xs-0">
                                        <div class="col-xs-6"></div>
                                        <div class="col-xs-6 text-right">

                                            <button  type="reset" id="BtnCProducto" class="btn vd_btn btn-default" ng-click="BtnProducto(false)" style="color: #0E2145!important">
                                                Cancelar <span class="menu-icon"><i class="fa fa-fw fa-times-circle"></i></span>
                                            </button>

                                            <button id="BtnGC" type="button" value="Enviar" class="btn vd_btn vd_bg-green"  ng-disabled="!form_nproducto.$valid" ng-click="edit_or_update(nproducto);
                                                        BtnProducto(false)">
                                                <!--top-right-success-->
                                                Guardar <span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>
                                            </button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> 
            </form>


            <!--panel de para agregar los datos de la nueva presentacion-->
            <form name="form">    
                <div class="panel widget light-widget panel-bd-top" id="PDatosPresentacion" style="display: none">
                    <div class="panel-body" style="color: gray">
                        <div class="col-lg-12">

                            <div class="panel-heading vd_bg-default">
                                <h3 class="colorLetra"> <span class="menu-icon"> <i class="fa fa-pencil-square-o"></i> </span>Datos de la nueva Presentacion de {{sel.producto_sel.nombre}}.</h3>
                                <div class="vd_panel-menu" style="    padding-right: 13px">
                                    <span class="vd_red">*</span> <span class="vd_red">Indica campos requeridos.</span>
                                </div>
                            </div>
                            <div class="panel-body" >
                                <form id="registrarC">
                                    <div class="row" >

                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Presentacion*</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" class="form-control" ng-model="npresentacion.presentacion" required>
                                                    </div>                                            
                                                    <span class="help-block">Nombre del producto</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Precio*</label>
                                                <div class="col-md-9 col-xs-12">                                            
                                                    <input type="text" class="form-control" ng-model="npresentacion.costo" ng-pattern="decimal" required>
                                                    <span class="help-block">Descripci&oacute;n del producto</span>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:5px">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Cantidad inicial*</label>
                                                <div class="col-md-9 col-xs-12">                                            
                                                    <input type="text" class="form-control" ng-model="npresentacion.stock" ng-pattern="entero" required>
                                                    <span class="help-block">La cantidad que colocara en su stock para la venta inicial</span>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Imagen</label>
                                                <div class="col-md-9">                                                                                                                                        

                                                    <input type="file"  name="filename" id="filename" title="Browse file" file-model="npresentacion.imagen" required>

                                                    <span class="help-block">Imagen de la presentacion</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="mgtp-20">
                                        <div class="row mgbt-xs-0">
                                            <div class="col-xs-6"></div>
                                            <div class="col-xs-6 text-right">
                                                <button  type="reset" id="BtnCProducto" class="btn vd_btn btn-default" ng-click="BtnPresentacion(false)" style="color: #0E2145!important">
                                                    Cancelar <span class="menu-icon"><i class="fa fa-fw fa-times-circle"></i></span>
                                                </button>

                                                <button id="BtnGC" type="button" value="Enviar" class="btn vd_btn vd_bg-green"  ng-disabled="!form.$valid" ng-click="edit_or_update_presentacion(npresentacion);
                                                            BtnPresentacion(false)">
                                                    <!--top-right-success-->
                                                    Guardar <span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>

            <!--panel de tabla-->           
            <div class="row" id="Ptabla">
                <div class="col-md-6">
                    <div class="panel widget">
                        <div class="panel-heading vd_bg-grey">
                            <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span>Productos.</h3>
                            <div class="vd_panel-menu">

                                <button  id="BtnProducto"  ng-click="BtnProducto(true)" class="btn  btn-success opc-button" type="button" data-original-title="Agregar Producto" data-placement="bottom" data-toggle="tooltip" ><i class="fa fa-plus"></i></button>
                                <div class="form-group" >
                                    <div class="col-md-6" style="float: right">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Buscar... " type="text" ng-model="filter.$">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search" style="font-size: small;"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body table-responsive" style="padding: 15px;">
                            <table class="table table-striped " id="data-tables" ng-init="col_ord = 'nombre'; rev=false">
                                <thead >
                                    <tr>
                                        <th ng-click="order_by('nombre')">Nombre</th>
                                        <th ng-click="order_by('descripcion')" >Descripcion</th>
                                        <th ng-click="order_by('estado')">Estado</th>
                                        <th></th>
                                        <th style="display:none;"></th>  
                                    </tr>
                                </thead>
                                <tbody >                                                    
                                    <tr ng-repeat="producto in  productos|filter: filter |orderBy:col_ord:rev" style="color:black" >
                                        <td ng-hide="edit">{{producto.nombre}}</td>
                                        <td ng-hide="edit">{{producto.descripcion}}</td>
                                        <td ng-hide="edit">{{producto.estado==1?"Activo":"Inactivo"}}</td>
                                        <td style="text-align: center" ng-hide="edit"> 
                                            <button class="btn btn-success opc-button" ng-click="input_file();
                                                            sel.producto_sel = producto;"><i class="fa fa-eye"></i></button>

                                            <button class="btn btn-info opc-button" ng-click="edit = true"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button ng-if="producto.estado == 1" class="btn btn-success opc-button" ng-click="estado(producto)"><i class="glyphicon glyphicon-ok"></i></button>
                                            <button ng-if="producto.estado == 0" class="btn btn-success opc-button"  style="color:gray" ng-click="estado(producto)"><i class="fa fa-circle-o"></i></button>

                                            <button class="btn btn-danger opc-button" ng-click="eliminar(producto)"><i class="glyphicon glyphicon-remove"></i></button>
                                        </td>
                                        <td ng-hide="!edit" colspan="6" style="display: -moz-box;;">
                                            <!--panel de para agregar los datos de la nueva productos-->


                                            <div class="col-lg-12" style="padding: 2px;margin: 0px;">


                                                <div class="panel-body"  style="padding: 2px;margin: 0px;">

                                                    <form id="registrarC" name="form">
                                                        <div class="row" >

                                                            <div class="col-md-6">

                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">Nombre*</label><br>
                                                                    <div class="col-md-12">                                            
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                            <input type="text" class="form-control" ng-model="producto.nombre" required>
                                                                        </div>                                            
                                                                        <span class="help-block">Nombre del producto</span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group" >
                                                                    <label class="col-md-3 control-label">Categoria</label><br>
                                                                    <div class="col-md-12">                                                                                            
                                                                        <div class="btn-group bootstrap-select form-control select">
                                                                            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="{{producto.categoria?categorias[producto.categoria].nombre:"Ninguna"}}">
                                                                                <span class="filter-option pull-left">{{producto.categoria?categorias[producto.categoria].nombre:"Ninguna"}}</span>&nbsp;<span class="caret"></span>
                                                                            </button>
                                                                            <div class="dropdown-menu open">
                                                                                <ul class="dropdown-menu inner selectpicker" role="menu">

                                                                                    <li rel="0" class="selected" ng-repeat=" categoria in  categorias">
                                                                                        <a tabindex="0" class="" style="" ng-click="producto.categoria = categoria.idCategoria;
                                                                                                            producto.categorian = categoria.nombre">
                                                                                            <span class="text">{{categoria.nombre}}</span>
                                                                                            <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                                                                        </a>
                                                                                    </li>

                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <span class="help-block">Seleccione una producto si posee</span>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                            <br>
                                                            <div class="col-md-12" style="padding-top: 10px;">
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">Descripci&oacute;n*</label><br>
                                                                    <div class="col-md-12 col-xs-12">                                            
                                                                        <textarea class="form-control" rows="5" ng-model="producto.descripcion" required></textarea>
                                                                        <span class="help-block">Descripci&oacute;n del producto</span>
                                                                    </div>
                                                                </div>



                                                            </div>

                                                        </div>

                                                        <div class="mgtp-20">
                                                            <div class="row mgbt-xs-0">
                                                                
                                                                <div class="col-xs-12 text-right">
                                                                    <button  type="reset" id="BtnCProducto" class="btn vd_btn btn-default" ng-click="edit = false" style="color: #0E2145!important">
                                                                        Cancelar <span class="menu-icon"><i class="fa fa-fw fa-times-circle"></i></span>
                                                                    </button>

                                                                    <button id="BtnGC" type="button" value="Enviar" class="btn vd_btn vd_bg-green"  ng-disabled="!form.$valid" ng-click="edit_or_update(producto);
                                                                                    edit = true">
                                                                        <!--top-right-success-->
                                                                        Guardar <span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form> 
                                                </div>
                                            </div>
                                        </td>  
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel widget">
                        <div class="panel-heading vd_bg-grey">
                            <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span>Presentaciones de <br> {{sel.producto_sel.nombre}}.</h3>
                            <div class="vd_panel-menu">
                                <button  id="BtnPresentacion"  ng-click="BtnPresentacion(true)" class="btn  btn-success opc-button" type="button" data-original-title="Agregar Presentacion" data-placement="bottom" data-toggle="tooltip" ><i class="fa fa-plus"></i></button>
                                <div class="form-group" >
                                    <div class="col-md-6" style="float: right">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Buscar... " type="text" ng-model="filter2.$">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search" style="font-size: small;"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body table-responsive" style="padding: 15px;">
                            <table class="table table-striped" id="data-tables" ng-init="col_ord2 = 'presentacion'; rev2=false">
                                <thead>
                                    <tr>

                                        <th ng-click="order_by2('presentacion')">Nombre</th>
                                        <th ng-click="order_by2('costo')">Costo</th>
                                        <th ng-click="order_by2('stock')">Stock V</th>
                                        <th ng-click="order_by2('stock_b')">Stock Bl</th>
                                        <th ng-click="order_by2('stock_r')">Stock </th>
                                        <th ng-click="order_by2('estado')">Estado</th>
                                        <th></th>
                                        <th style="display:none;"></th>  

                                    </tr>
                                </thead>
                                <tbody >                                                    
                                    <tr ng-repeat=" presentacion in  sel.producto_sel.obtener_precios|filter:filter2|orderBy:col_ord2:rev2" style="color:black" >
                                        <td ng-hide="edit">{{presentacion.presentacion}}</td>
                                        <td ng-hide="edit">{{presentacion.costo}}</td>

                                        <td ng-hide="edit">{{presentacion.stock}}</td>
                                        <td ng-hide="edit">{{presentacion.stock_b}}</td>
                                        <td ng-hide="edit">{{presentacion.stock_r}}</td>
                                        <td ng-hide="edit">{{presentacion.estado==1?"Activo":"Inactivo"}}</td>
                                        <td style="text-align: center" ng-hide="edit"> 
                                            <button class="btn btn-info opc-button" ng-click="edit = true; panel1 = true"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button class="btn btn-success opc-button" ng-click="edit = true; panel2 = true"><i class="fa fa-tags"></i></button>
                                            <button class="btn btn-success opc-button" ng-click="edit = true; panel3 = true"><i class="fa fa-truck"></i></button>

                                            <button ng-if="presentacion.estado == 1" class="btn btn-success opc-button" ng-click="estado_presentacion(presentacion)"><i class="glyphicon glyphicon-ok"></i></button>
                                            <button ng-if="presentacion.estado == 0" class="btn btn-success opc-button "  style="color:gray" ng-click="estado_presentacion(presentacion)"><i class="fa fa-circle-o"></i></button>

                                            <button class="btn btn-danger opc-button" ng-click="eliminar_presentacion(presentacion)"><i class="glyphicon glyphicon-remove"></i></button>
                                        </td>
                                        <td ng-hide="!edit || !panel1" colspan="8">
                                            <!--panel de para agregar los datos de la nueva productos-->

                                            <div class="panel-body" style="color: gray">
                                                <div class="col-lg-12" style="padding: 2px;margin: 0px;">


                                                    <div class="panel-body" style="padding: 2px;margin: 0px;">
                                                        <!--panel de para agregar los datos de la nueva presentacion-->

                                                        <form id="registrarC" name="form_mod">
                                                            <div class="row" >

                                                                <div class="col-md-6">

                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Presentacion*</label><br>
                                                                        <div class="col-md-12">                                            
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                                <input type="text" class="form-control" ng-model="presentacion.presentacion" required>
                                                                            </div>                                            
                                                                            <span class="help-block">Nombre de la presentacion</span>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Precio*</label><br>
                                                                        <div class="col-md-12 col-xs-12">                                            
                                                                            <input type="text" class="form-control" ng-model="presentacion.costo" ng-pattern="decimal" required>
                                                                            <span class="help-block">Precio de la presentacion</span>
                                                                        </div>
                                                                    </div>



                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding-top:5px">

                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Imagen</label><br>
                                                                        <div class="col-md-12">                                                                                                                                        

                                                                            <input type="file"  name="filename" id="filename" title="Browse file" file-model="presentacion.imagen" required>

                                                                            <span class="help-block">Imagen de la presentacion</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="mgtp-20">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-6"></div>
                                                                    <div class="col-xs-12 text-right">
                                                                        <button  type="reset" id="BtnCProducto" class="btn vd_btn btn-default" ng-click="edit = false;
                                                                                        panel1 = false;
                                                                                        panel2 = false" style="color: #0E2145!important">
                                                                            Cancelar <span class="menu-icon"><i class="fa fa-fw fa-times-circle"></i></span>
                                                                        </button>

                                                                        <button id="BtnGC" type="button" value="Enviar" class="btn vd_btn vd_bg-green"  ng-disabled="!form_mod.$valid" ng-click="edit_or_update_presentacion(presentacion);
                                                                                        edit = false;
                                                                                        panel1 = false;
                                                                                        panel2 = false">
                                                                            <!--top-right-success-->
                                                                            Guardar <span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>
                                                                        </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>



                                                    </div>
                                                </div>
                                            </div>




                                        </td>  

                                        <td ng-hide="!edit || !panel2" colspan="8">
                                            <!--panel de para agregar los datos de la nueva productos-->

                                            <div class="panel-body" style="color: gray">
                                                <div class="col-lg-12" style="padding: 2px;margin: 0px;">


                                                    <div class="panel-body" style="padding: 2px;margin: 0px;">
                                                        <!--panel de para agregar los datos de la nueva presentacion-->

                                                        <form id="registrarC" name="form">
                                                            <div class="row" >

                                                                <div class="col-md-6">

                                                                    <div class="form-group">
                                                                        <label class="col-md-12 control-label">Cantidad para Descuento*</label><br>
                                                                        <div class="col-md-12">                                            
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                                <input type="text" class="form-control" ng-model="presentacion.cantidad_desc" ng-pattern="entero" required>
                                                                            </div>                                            
                                                                            <span class="help-block">Cantidad necesaria para obetner un descuento</span>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Valor*</label><br>
                                                                        <div class="col-md-12 col-xs-12">                                            
                                                                            <input type="text" class="form-control" ng-model="presentacion.descuento" ng-pattern="decimal" required>
                                                                            <span class="help-block">Valor que ser&aacute; reducido al obtener el descuento</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding-top:5px">

                                                                <div class="col-md-12">

                                                                </div>

                                                            </div>

                                                            <div class="mgtp-20">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-6"></div>
                                                                    <div class="col-xs-12 text-right">
                                                                        <button  type="reset" id="BtnCProducto" class="btn vd_btn btn-default" ng-click="edit = false;
                                                                                        panel1 = false;
                                                                                        panel2 = false" style="color: #0E2145!important">
                                                                            Cancelar <span class="menu-icon"><i class="fa fa-fw fa-times-circle"></i></span>
                                                                        </button>

                                                                        <button id="BtnGC" type="button" value="Enviar" class="btn vd_btn vd_bg-green"  ng-disabled="!form.$valid" ng-click="add_descuento_presentacion(presentacion);
                                                                                        edit = false;
                                                                                        panel1 = false;
                                                                                        panel2 = false">
                                                                            <!--top-right-success-->
                                                                            Guardar <span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>
                                                                        </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>



                                                    </div>
                                                </div>
                                            </div>




                                        </td>  

                                        <td ng-hide="!edit || !panel3" colspan="8">
                                            <!--panel de para agregar los datos de la nueva productos-->

                                            <div class="panel-body" style="color: gray">
                                                <div class="col-lg-12" style="padding: 2px;margin: 0px;">


                                                    <div class="panel-body" style="padding: 2px;margin: 0px;">
                                                        <!--panel de para agregar los datos de la nueva presentacion-->

                                                        <form id="registrarC" name="form">
                                                            <div class="row" >

                                                                <div class="col-md-6">

                                                                    <div class="form-group">
                                                                        <label class="col-md-12 control-label">Tipo*</label><br>
                                                                        <div class="col-md-12">                                            
                                                                            <div class="input-group">

                                                                                <select ng-model="tipo">
                                                                                    <option value="+">Aumentar</option>
                                                                                    <option value="-">Disminuir</option>
                                                                                </select>
                                                                            </div>                                            
                                                                            <span class="help-block">Aumentar o Disminuir Stock</span>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6">

                                                                    <div class="form-group">
                                                                        <label class="col-md-12 control-label">Cantidad*</label><br>
                                                                        <div class="col-md-12">                                            
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                                                <input type="text" class="form-control" ng-model="cantidad" ng-pattern="entero" required>
                                                                            </div>                                            
                                                                            <span class="help-block">Cantidad a {{tipo=='+'?'aumentar':'disminuir'}}</span>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <div class="row" style="padding-top:5px">

                                                                <div class="col-md-12">

                                                                </div>

                                                            </div>

                                                            <div class="mgtp-20">
                                                                <div class="row mgbt-xs-0">
                                                                    <div class="col-xs-6"></div>
                                                                    <div class="col-xs-12 text-right">
                                                                        <button  type="reset" id="BtnCProducto" class="btn vd_btn btn-default" ng-click="edit = false;
                                                                                        panel3 = false" style="color: #0E2145!important">
                                                                            Cancelar <span class="menu-icon"><i class="fa fa-fw fa-times-circle"></i></span>
                                                                        </button>

                                                                        <button id="BtnGC" type="button" value="Enviar" class="btn vd_btn vd_bg-green"  ng-disabled="!form.$valid" ng-click="add_dis_presentacion(presentacion, cantidad, tipo);
                                                                                        edit = false;
                                                                                        panel3 = false">
                                                                            <!--top-right-success-->
                                                                            Guardar <span class="menu-icon"><i class="fa fa-fw fa-check"></i></span>
                                                                        </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>



                                                    </div>
                                                </div>
                                            </div>




                                        </td>  

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>








            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="padding-top: 0px !important; padding-left: 0px !important; padding-right: 0px !important; ">
                            <div class="panel widget panel-bd-top vd_todo-widget light-widget">
                                <div class="panel-body">
                                    <h3 class="mgbt-xs-20"> <span class="append-icon"> <i class="fa  vd_green"></i> </span> <span id="Mtitulo"></span></h3>
                                    <div class="vd_panel-menu">
                                        <button class="close" data-dismiss="modal" aria-hidden="true" type="button" data-original-title="Cerrar" data-placement="bottom" data-toggle="tooltip"><i class="fa fa-times"></i> </button>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Nombre:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="nombreCat"></label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Descripcion:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="descripcionCat"></label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Imagen:</label> 
                                            </div>
                                            <div class="col-xs-6" style="    padding-bottom: 10px;padding-left: 30px;"> 
                                                <img  WIDTH=50 HEIGHT=50 id='img' > 
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">Fecha de Creaci&oacute;n:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="fechaC"></label>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-12 control-label">&Uacute;ltima modificaci&oacute;n:</label> 
                                            </div>
                                            <div class="col-xs-6"> 
                                                <label class="col-xs-12 control-label" id="fechaM"></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="padding-top: 0px !important; padding-left: 0px !important; padding-right: 0px !important; ">
                            <div class="panel widget panel-bd-top vd_todo-widget light-widget">
                                <div class="panel-body">
                                    <h3 class="mgbt-xs-20"> <span class="append-icon"> <i class="fa  vd_green"></i> </span> <span id="Mtitulo"></span></h3>
                                    <div class="vd_panel-menu">
                                        <button class="close" data-dismiss="modal" aria-hidden="true" type="button" data-original-title="Cerrar" data-placement="bottom" data-toggle="tooltip"><i class="fa fa-times"></i> </button>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="form-img text-center mgbt-xs-15"> <img  WIDTH=200 HEIGHT=160 id='img' > </div>
                                            <br>
                                            <div>
                                                <table class="table table-striped table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:60%;">Nombre</td>
                                                            <td><span id="Mnombre"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:60%;">Descripcion</td>
                                                            <td><span id="Mdescripcion"></span></td>
                                                        </tr>

                                                        <tr>
                                                            <td style="width:60%;">Status</td>
                                                            <td><span class="label label-success">Active</span></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>
        </div>   

    </div>
</div>

<!-- START DASHBOARD CHART -->