<section class="content">

    <section class="invoice"  style="background: white;margin: 10px;">
        <div class="row" style="padding-top: 25px">
            <div class="col col-md-3">
                <div class="form-group" ng-init="p.tipo = 'DIARIO'" >
                    <label class="col-md-3 control-label">Tipo</label>
                    <div class="col-md-9">                                                                                            
                        <div class="btn-group bootstrap-select form-control select">
                            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="">
                                <span class="filter-option pull-left"></span>{{p.tipo=="DIARIO"?"POR VENTA":p.tipo=="MENSUAL"?"DIARIO":"MENSUAL"}}&nbsp;<span class="caret"></span>
                            </button>
                            <div class="dropdown-menu open">
                                <ul class="dropdown-menu inner selectpicker" role="menu">



                                    <li rel="0"  ng-click="p.tipo = 'DIARIO';
                                                cargar_datos()">
                                        <a tabindex="0" class="" style="" >
                                            <span class="text">POR VENTA</span>
                                            <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                        </a>
                                    </li>

                                    <li rel="0" ng-click="p.tipo = 'MENSUAL';
                                                cargar_datos()">
                                        <a tabindex="0" class="" style="" >
                                            <span class="text">DIARIO</span>
                                            <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                        </a>
                                    </li>

                                    <li rel="0"  ng-click="p.tipo = 'ANUAL';
                                                cargar_datos()">
                                        <a tabindex="0" class="" style="" >
                                            <span class="text">MENSUAL</span>
                                            <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                        </a>
                                    </li>



                                </ul>
                            </div>
                        </div>
                        <span class="help-block">Tipo de Reporte</span>
                    </div>
                </div>
            </div>

            <div class="col col-md-3"> <!-- INICIO-->
                <div class="form-group" ng-show="p.tipo == 'DIARIO'">
                    <label class="col-md-4 control-label">Fecha de Inicio</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="dp-3" ng-model="p.fechai"  ng-change="cargar_datos()" class="form-control fecha" value="06-06-2014" data-date="06-06-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years" type="text">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="p.tipo == 'MENSUAL' || p.tipo == 'ANUAL'">

                    <div class="form-group" >
                        <label class="col-md-2 control-label">DESDE: &nbsp; &nbsp;</label>
                        <div class="col-md-5" ng-if="p.tipo == 'MENSUAL'">                                                                                            
                            <div class="btn-group bootstrap-select form-control select">
                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="">
                                    <span class="filter-option pull-left"></span>{{meses[p.mes - 1]}}&nbsp;<span class="caret"></span>
                                </button>
                                <div class="dropdown-menu open">
                                    <ul class="dropdown-menu inner selectpicker" role="menu">

                                        <li rel="0"  ng-repeat="mes in meses">
                                            <a tabindex="0" class="" style="" ng-click="p.mes = $index + 1;
                                                            cargar_datos()">
                                                <span class="text">{{mes}}</span>
                                                <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                            </a>
                                        </li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">                                                                                            
                            <div class="btn-group bootstrap-select form-control select">
                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="">
                                    <span class="filter-option pull-left"></span>{{p.year}}&nbsp;<span class="caret"></span>
                                </button>
                                <div class="dropdown-menu open">
                                    <ul class="dropdown-menu inner selectpicker" role="menu">

                                        <li rel="0"  ng-repeat="year in years">
                                            <a tabindex="0" class="" style="" ng-click="p.year = year;
                                                            cargar_datos()">
                                                <span class="text">{{year}}</span>
                                                <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                            </a>
                                        </li>



                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
            <div class="col col-md-3">
                <div class="form-group" ng-show="p.tipo == 'DIARIO'">
                    <label class="col-md-4 control-label" >Fecha de Fin</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="dp-3"  ng-model="p.fechaf" ng-change="cargar_datos()" class="form-control fecha" value="06-06-2014" data-date="06-06-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years" type="text">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                </div>

                <div class="form-group"  ng-if="p.tipo == 'MENSUAL' || p.tipo == 'ANUAL'" >
                    <label class="col-md-2 control-label">HASTA: &nbsp; &nbsp;</label>
                    <div class="col-md-5" ng-if="p.tipo == 'MENSUAL'">                                                                                            
                        <div class="btn-group bootstrap-select form-control select">
                            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="">
                                <span class="filter-option pull-left"></span>{{meses[p.mesf - 1]}}&nbsp;<span class="caret"></span>
                            </button>
                            <div class="dropdown-menu open">
                                <ul class="dropdown-menu inner selectpicker" role="menu">

                                    <li rel="0"  ng-repeat="mes in meses">
                                        <a tabindex="0" class="" style="" ng-click="p.mesf = $index + 1;
                                                        cargar_datos()">
                                            <span class="text">{{mes}}</span>
                                            <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                        </a>
                                    </li>



                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">                                                                                            
                        <div class="btn-group bootstrap-select form-control select">
                            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="">
                                <span class="filter-option pull-left"></span>{{p.yearf}}&nbsp;<span class="caret"></span>
                            </button>
                            <div class="dropdown-menu open">
                                <ul class="dropdown-menu inner selectpicker" role="menu">

                                    <li rel="0"  ng-repeat="year in years">
                                        <a tabindex="0" class="" style="" ng-click="p.yearf = year;
                                                        cargar_datos()">
                                            <span class="text">{{year}}</span>
                                            <i class="glyphicon glyphicon-ok icon-ok check-mark"></i>
                                        </a>
                                    </li>



                                </ul>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

            <div class="col col-md-3">
                <button  id="BtnCategoria"   class="btn  btn-success opc-button" type="button" data-original-title="Crear reporte" data-placement="bottom" data-toggle="tooltip" ng-click="cargar_datos()"><i class="fa fa-search"></i></button>


            </div>



        </div>

        <div id="print">

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">

                        <small class="pull-right" >Fecha del Reporte {{fecha|date: "dd/MM/yyyy HH:m"}}</small> <br>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info" >

                <!-- /.col -->
                <div class="col-sm-4 invoice-col" >
                    <address>
                        <strong>DOLPHIN RISTORANTE C.A</strong><br>
                        Tipo: {{p.tipo=="DIARIO"?"POR VENTA":p.tipo=="MENSUAL"?"DIARIO":"MENSUAL"}}<br>
                        Fecha: {{p.tipo=="DIARIO"? p.fechai+" A " +p.fechaf:p.tipo=="MENSUAL"? meses[p.mes - 1] +" - " +p.year +" A "  + meses[p.mesf - 1]+" - " +p.yearf:p.year +" A "  +p.yearf}}
                    </address>
                </div>

                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>USUARIO {{user.nombre}}</b><br>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr >
                                <th ng-repeat="col in columnas_lb">{{col}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dato in datos">
                                <td ng-repeat="col in columnas">
                                    <span ng-if="tipos[$index] == 'moneda'"> {{(dato[col]|| 0) | currency:'Bs '}}</span>
                                    <span ng-if="tipos[$index] == 'fecha'">  {{make_fecha(dato[col])}}</span>
                                    <span ng-if="tipos[$index] == 'entero'"> {{(dato[col]|| 0) }}</span>
                                    <span ng-if="tipos[$index] == 'cad'">    {{(dato[col]|| "") }}</span>

                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row" ng-if="false">
                <!-- accepted payments column -->
                <div class="col-xs-4">

                </div>
                <!-- /.col -->
                <div class="col-xs-offset-2 col-xs-6">


                    <div class="table-responsive">
                        <p class="lead">Total de Orden:</p>
                        <table class="table table-s" >
                            <tbody>
                                <tr >
                                    <th style="width:50%" style="background: #FFF">Subtotal:</th>
                                    <td>${{(factura.subTotal)| number:2}}</td>
                                </tr>
                                <tr>
                                    <th>Envio:</th>
                                    <td>${{factura.envio| number:2}}</td>
                                </tr>
                                <tr ng-if="factura.descuento != null">
                                    <th>Descuento:</th>
                                    <td>- ${{factura.descuento| number:2}}</td>
                                </tr>

                                <tr ng-if="factura.descuento != null">
                                    <th>Cupones</th>
                                    <td>- ${{factura.descuento| number:2}}</td>
                                </tr>

                                <tr>
                                    <th>Total:</th>
                                    <td>${{factura.total| number:2}}</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">

                <button type="button" class="btn btn-primary pull-right" ng-click="print()" style="margin-right: 5px;">
                    <i class="fa fa-download"></i> Generate PDF
                </button>
            </div>
        </div>
    </section>                 

</section>

