<c>
    Ticket de cocina<line><line>
    Pedido<line>
    Mesa: 3<line>
</c>       
<lista>
    <l>
        Producto
    </l>
    <ri>
        Cant
    </ri>
    <line>
            
        <l> Chinotto 3l </l>
        <ri> x 1</ri>
            
        <l> Naranja 350ml </l>
        <ri> x 1</ri>
            
        <l> Freskolita  350ml </l>
        <ri> x 1</ri>
    </lista>