.margenEtiquera{position: absolute;text-align: right;left: auto!important}
 #footer {display: block;}
.popup-body{padding:10px;overflow:auto}
.popup-head {padding: 15px 10px;border-bottom: 1px solid #eee;text-align: center; }
.popup-title {margin: 0;padding: 0;font-size: 15px;}
.popup-buttons{width: 100%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;-webkit-box-orient:horizontal;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;padding:10px;min-height:65px}
.popup-buttons .button{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-moz-flex:1;-ms-flex:1;flex:1;display:block;min-height:45px;border-radius:2px;line-height:20px;margin-right:5px}  
@media screen and (min-width: 1024px) and (orientation: landscape){
    .modal {min-height: 340px!important;width:360px;margin: auto!important;}
}