<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Simple Ionic Slide</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ionic App</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="ionicApp" animation="slide-left-right-ios7" ng-controller="SlideController">
<div class="bar bar-header">
  <button class="button button-icon icon ion-chevron-left" ng-click="slidePrevious()"></button>
  <div class="h1 title">Header Buttons</div>
  <button class="button button-icon icon ion-chevron-right" ng-click="slideNext()"></button>
</div>
<ion-slide-box active-slide="myActiveSlide" does-continue="true">
  <ion-slide>
    <div class="box blue"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
    
  </body>
</html>
    
        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
